﻿@{
    Layout = null;
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Contabilium.com</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <link rel="shortcut icon" href="/images/favicon.png" type="image/png" />
    <link href="/css/style.default.css" rel="stylesheet" />
</head>
<body class="notfound">

    <section>
        <nav class="navbar navbar-default" style="border-radius: 0;min-height:0">
            <div style="position: relative;height: 100px;">
                <div style="width:100%;text-align:center;background-color: #2b9b8f;color: #fff;height:25px;" id="divRegistro">
                    Sistema de gestión contable para para profesionales, monotributistas y pymes. 
                    <a style="background-color:#b82f5b; padding: 7px; color:#fff" href="https://app.contabilium.com/registro.aspx?promo=CLIENTES">Registrate gratis y obtené un 25% de descuento</a>
                </div>
                
                <div class="navbar-header">
                    <a class="navbar-brand" href="http://www.contabilium.com/" target="_blank"><img src="https://app.contabilium.com/realtrends/img/logo_contabilium_header.png"></a>
                </div>
                <div class="contact-info pull-right">
                    <span class="phone"><i class="fa fa-phone" aria-hidden="true"></i> (011) 5263.2062</span>
                    <span>Lunes a Viernes de 9 a 18hs</span>
                </div>
            </div>
        </nav>

        <div class="contentpanel" style="padding:0px; padding-top:1px">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="error-template">
                        <h1>Lo sentimos <span>:(</span></h1>
                        <p>La factura a la que intenta acceder no existe</p>
                        <div class="error-actions">
                            <a href="http://www.contabilium.com" class="btn btn-success btn-lg mt10">
                                <span class="glyphicon glyphicon-home"></span> Ir a Contabilium 
                            </a>
                            <a href="mailto:soporte@contabilium.com" class="btn btn-white btn-lg mt10">
                                <span class="glyphicon glyphicon-envelope"></span> Contactar a soporte
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
