﻿@model ACHE.Model.ComprobantesViewModel

@{
    Layout = null;
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Contabilium.com</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <link rel="shortcut icon" href="/images/favicon.png" type="image/png" />
    <link href="/css/style.default.css" rel="stylesheet" />

</head>
<body class="notfound">

    <section>
        <nav class="navbar navbar-default" style="border-radius: 0; min-height: 0">
            <div style="position: relative; height: 100px;">
                <div style="width: 100%; text-align: center; background-color: #2b9b8f; color: #fff; height: 25px;" id="divRegistro">
                    Sistema de gestión contable para para profesionales, emprendedores y pymes. 
                    <a style="background-color: #b82f5b; padding: 7px; color: #fff" href="https://app.contabilium.com/registro.aspx?promo=CLIENTES">Registrate gratis y obtené un 25% de descuento</a>
                </div>

                <div class="navbar-header">
                    <a class="navbar-brand" href="http://www.contabilium.com/" target="_blank">
                        <img src="https://app.contabilium.com/realtrends/img/logo_contabilium_header.png"></a>
                </div>
                <div class="contact-info pull-right">
                    <span class="phone"><i class="fa fa-phone" aria-hidden="true"></i>(011) 5263.2062</span>
                    <span>Lunes a Viernes de 9 a 18hs</span>
                </div>
            </div>
        </nav>

        <div class="contentpanel" style="padding: 0px; padding-top: 1px">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="frmEdicion" runat="server" class="col-sm-12">
                        <div class="row">
                            <h3 class="mb20 text-primary" style="text-transform: uppercase; margin-left: 10px;">Comprobante: @Model.Numero</h3>
                        </div>

                        <div class="row">
                            @if (Model.Usuario != null)
                            {
                                <div class="col-sm-6">
                                    <h5 class="subtitle mb10">De</h5>
                                    <address>
                                        <strong>
                                            @Model.Usuario.RazonSocial</strong><br />
                                        @Model.Usuario.Domicilio<br />
                                        @Model.Usuario.Provincia , @Model.Usuario.Ciudad<br />
                                        <abbr title="Email">Email:</abbr>
                                        @Model.Usuario.Email<br />
                                        <abbr title="Phone">Tel:</abbr>
                                        @Model.Usuario.Telefono
                                    </address>
                                </div>
                            }
                            <!-- col-sm-6 -->
                            @if (Model.Persona != null)
                            {
                                <div class="col-sm-6 text-right">
                                    <h5 class="subtitle mb10">Para</h5>
                                    <address>
                                        <strong>
                                            @Model.Persona.RazonSocial</strong><br />
                                        @Model.Persona.Domicilio<br />
                                        @Model.Persona.Provincia , @Model.Persona.Ciudad<br />
                                        @Model.Persona.CondicionIva<br />
                                        <strong>Fecha:</strong> @Model.Fecha
                                    </address>
                                </div>
                            }
                        </div>
                        <!-- row -->

                        <div class="table-responsive">
                            <table class="table table-invoice">
                                <thead>
                                    <tr>
                                        <th>Código</th>
                                        <th style="text-align: left">Descripción</th>
                                        <th>Cantidad</th>
                                        <th style="text-align: right">Precio unitario sin IVA</th>
                                        <th style="text-align: right">Bonificación %</th>
                                        <th style="text-align: right">IVA %</th>
                                        <th style="text-align: right">Subtotal</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var det in Model.Detalle)
                                    {
                                        <tr>
                                            <td>@det.ID</td>
                                            <td style="text-align: left">@det.Concepto</td>
                                            <td>@det.Cantidad.ToString("N2")</td>
                                            <td style="text-align: right">$ @det.PrecioUnitario.ToString("N2")</td>
                                            <td style="text-align: right">$ @det.Bonificacion.ToString("N2")</td>
                                            <td style="text-align: right">@det.Iva.ToString("N2") %</td>
                                            <td style="text-align: right">$ @det.TotalConIva.ToString("N2")</td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                        <!-- table-responsive -->

                        <table class="table table-total">
                            <tbody>
                                <tr>
                                    <td><strong>Subtotal: </strong></td>
                                    <td style="min-width: 120px;">$ @decimal.Parse(Model.ImporteTotalBruto).ToString("N2") </td>
                                </tr>
                                <tr>
                                    <td><strong>IVA:</strong></td>
                                    <td style="min-width: 120px;">$ @Model.Iva.ToString("N2")</td>
                                </tr>
                                <tr>
                                    <td><strong>Total:</strong></td>
                                    <td style="min-width: 120px; color: green">$ @decimal.Parse(Model.ImporteTotalNeto).ToString("N2") </td>
                                </tr>
                                <tr>
                                    <td><strong>Saldo:</strong></td>
                                    <td style="min-width: 120px; color: red">$ @Model.Saldo.ToString("N2") </td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="mb40"></div>
                        <div class="text-right btn-invoice">
                            @if (!string.IsNullOrEmpty(Model.RutaMercadoPago))
                            {
                                <a class='btn btn-success' id='lnkComprar' href='@Model.RutaMercadoPago' style="float: right;margin-left: 5px;"  name='MP-Checkout' mp-mode='modal' onreturn='pagoCompleto'><i class="fa fa-money"></i> Pagar con MercadoPago</a>
                            }
                            @if (Model.PayUForm != null && Model.Saldo > 0)
                            {
                                <form method="post" action="https://gateway.payulatam.com/ppp-web-gateway">
                                    <input name="merchantId" type="hidden" value="@Model.PayUForm.MerchantId" />
                                    <input name="accountId" type="hidden" value="@Model.PayUForm.AccountId" />
                                    <input name="description" type="hidden" value="Pago de FC @Model.Numero" />
                                    <input name="referenceCode" type="hidden" value="@Model.PayUForm.ReferenceCode" />
                                    <input name="amount" type="hidden" value="@Model.Saldo.ToString("#0.00").Replace(",",".")" />
                                    <input name="tax" type="hidden" value="0" />
                                    <input name="taxReturnBase" type="hidden" value="0" />
                                    <input name="currency" type="hidden" value="ARS" />
                                    <input name="signature" type="hidden"  value="@Model.PayUForm.Signature" />
                                    <input name="buyerEmail" type="hidden" value="@Model.Persona.Email" />
                                    <input name="payerFullName" type="hidden" value="@Model.RazonSocial" />
                                    	
                                    <input name="responseUrl" type="hidden" value="https://clientes.contabilium.com/public/pagofin?estado=0" />
                                    @*<input name="confirmationUrl" type="hidden" value="https://clientes.contabilium.com/public/pago-fin" />*@
                                    <a class='btn btn-success' id='lnkComprarPayU' href='javascript: document.forms[0].submit();'><i class="fa fa-money"></i> Pagar con PayU</a>
                                    @*<input name="Submit" type="submit" value="Enviar" />*@
                                </form>
                                
                                
                            }
                            <a href="@Model.RutaDescarga" class='btn btn-primary' download><i class="fa fa-cloud-download fa-fw"></i> Descargar factura</a>
                            <a href="https://clientes.contabilium.com/Account/Login" class='btn btn-white'><i class="fa fa-list"></i> Ver cuenta corriente</a>
                        </div>

                        <div class="mb40"></div>
                        <div class="well">
                            @Model.Observaciones
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>



    <!-- Pega este código antes de cerrar la etiqueta </body> -->
    <script type="text/javascript">
        (function () { function $MPC_load() { window.$MPC_loaded !== true && (function () { var s = document.createElement("script"); s.type = "text/javascript"; s.async = true; s.src = document.location.protocol + "//secure.mlstatic.com/mptools/render.js"; var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x); window.$MPC_loaded = true; })(); } window.$MPC_loaded !== true ? (window.attachEvent ? window.attachEvent('onload', $MPC_load) : window.addEventListener('load', $MPC_load, false)) : null; })();
    </script>

    <script type="text/javascript">
        function pagoCompleto(json) {
            if (json.collection_status == 'approved') {
                window.location.href = '/Public/PagoFin?estado=1';
            } else if (json.collection_status == 'pending') {
                window.location.href = '/Public/PagoFin?estado=2';
            } else if (json.collection_status == 'in_process') {
                window.location.href = '/Public/PagoFin?estado=3';
            } else if (json.collection_status == 'rejected') {
                window.location.href = '/Public/PagoFin?estado=4';
            } else if (json.collection_status == null) {
                window.location.href = '/Public/PagoFin?estado=5';
            }
        }
    </script>

</body>
</html>
