﻿@model ACHE.Model.PlanesPagos
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="pageheader">
    <h2>
        <i class="fa fa-medkit"></i>Usuarios
        <span>Plan de Pago</span>
    </h2>
</div>

<div class="contentpanel">
    <div class="row mb15">
        <!-- profile-header -->
        <div class="alert alert-danger" id="divError" style="display: none">
            <strong>Lo sentimos! </strong><span id="msgError"></span>
        </div>
        <div class="alert alert-success" id="divOk" style="display: none">
            <strong>Bien hecho! </strong>Los datos se han actualizado correctamente
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <form id="frmEdicion" runat="server" clientidmode="Static">
                    <div class="row mb15">
                        <div class="col-sm-12">
                            <h3>Plan de Pago</h3>
                            <hr />
                        </div>
                    </div>
                    <div class="row mb15">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label"><span class="asterisk">*</span> Fecha Inicio Plan</label>
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.FechaInicioPlan, new { @class = "form-control validDate required", @id = "txtFechaInicioPlan", @maxlength = "10" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb15">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label"><span class="asterisk">*</span> Fecha Fin Plan</label>
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.FechaFinPlan, new { @class = "form-control validDate required", @id = "txtFechaVencimiento", @maxlength = "10" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb15">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label"><span class="asterisk">*</span> Fecha Pago</label>
                                <div class="form-group">
                                    @if (Model.IDPlanesPagos > 0) {
                                        @Html.TextBoxFor(m => m.FechaDePago, new { @class = "form-control", @id = "txtFechaPago", @readonly = true })
                                    }
                                    else {
                                        @Html.TextBoxFor(m => m.FechaDePago, new { @class = "form-control validDate required", @id = "txtFechaPago", @maxlength = "10" })
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb15">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label"><span class="asterisk">*</span> Importe</label>
                                @if (Model.IDPlanesPagos > 0) {
                                    @Html.TextBoxFor(m => m.ImportePagado, new { @class = "form-control", @id = "txtImporte", @readonly = true })
                                }
                                else {
                                    @Html.TextBoxFor(m => m.ImportePagado, new { @class = "form-control number required", @id = "txtImporte", @maxlength = "10" })
                                }
                            </div>
                        </div>
                    </div>
                    <div class="row mb15">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label"><span class="asterisk">*</span> Forma de Pago</label>
                                @if (Model.IDPlanesPagos > 0) {
                                    @Html.TextBoxFor(m => m.FormaDePago, new { @class = "form-control", @id = "txtFormaPago", @readonly = true })
                                }
                                else {
                                    @Html.DropDownListFor(m => m.FormaDePago, new SelectList(ViewBag.FormaDePagosList, "Nombre", "Nombre", Model.Estado), "Seleccione", new { @class = "select2", @id = "ddlFormasDePago", @required = "true" })
                                }
                            </div>
                        </div>
                    </div>
                    <div class="row mb15">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label"><span class="asterisk">*</span> Nro Referencia</label>
                                @if (Model.IDPlanesPagos > 0) {
                                    @Html.TextBoxFor(m => m.NroReferencia, new { @class = "form-control", @id = "txtNroReferencia", @readonly = true })
                                }
                                else {
                                    @Html.TextBoxFor(m => m.NroReferencia, new { @class = "form-control required", @id = "txtNroReferencia", @maxlength = "150" })
                                }
                            </div>
                        </div>
                    </div>
                    <div class="row mb15">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label"><span class="asterisk">*</span> Estado</label>
                                @Html.DropDownListFor(m => m.Estado, new SelectList(ViewBag.EstadosList, "Nombre", "Nombre", Model.Estado), "Seleccione", new { @class = "select2", @id = "ddlEstados", @required = "true" })
                            </div>
                        </div>
                    </div>
                    <div class="row mb15">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label"><span class="asterisk">*</span> Plan</label>
                                @if (Model.IDPlanesPagos > 0) {
                                    //Html.TextBoxFor(m => m.Planes.Nombre, new { @class = "form-control", @id = "txtNombre", @readonly = true })
                                    @Html.DropDownListFor(m => m.IDPlan, new SelectList(ViewBag.PlanesList, "IDPlan", "Nombre", Model.Planes), "Seleccione", new { @class = "select2", @id = "ddlPlanes", @required = "true" })
                                }
                                else {
                                    @Html.DropDownListFor(m => m.Planes, new SelectList(ViewBag.PlanesList, "IDPlan", "Nombre", Model.Planes), "Seleccione", new { @class = "select2", @id = "ddlPlanes", @required = "true" })

                                }
                                
                            </div>
                        </div>
                    </div>
                    <div class="row mb15">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label">Pago Anual </label>
                                @if (Model.IDPlanesPagos > 0) {
                                                                                                          
                                    <input  style="border: 0; background-color: transparent;" value="true" type="checkbox" @(Model.PagoAnual ? "checked='checked'" : "") disabled />

                                }
                                else {
                                    <input style="border: 0; background-color: transparent;"  id="chkPagoAnual" name="chkPagoAnual" type="checkbox" >


                                }
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <a class="btn btn-success" id="btnActualizar" onclick="usuario.grabarPlanPago(@Model.IDPlanesPagos, @Model.IDUsuario);">Guardar</a>
                        <a class="btn btn-cancel" href="../Edicion/@Model.IDUsuario" id="btnCancelar">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="~/js/jquery.validate.min.js"></script>
<script src="~/js/select2.min.js"></script>
<script src="~/js/views/Usuario.js"></script>
<script src="/js/jquery.maskedinput.min.js"></script>
<script src="/js/jquery.maskMoney.min.js"></script>

<script>
    jQuery(document).ready(function () {
        usuario.config(@(Model.IDPlanesPagos > 0 ? "true" : "false"));
    });
</script>
