﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="errorGenerico.aspx.cs" Inherits="errorGenerico" %>

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="images/favicon.png" type="image/png">
    <title>Contabilium.com</title>
    <link href="css/style.default.css" rel="stylesheet">

    <style>
    

    </style>
    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
  <script src="js/html5shiv.js"></script>
  <script src="js/respond.min.js"></script>
  <![endif]-->
</head>
<body class="notfound" style="background:url(images/Rawnet.png); background-repeat: no-repeat; background-position-x: center;">
    <!-- Preloader -->
    <div id="preloader">
        <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
    </div>

    <section>
        <div class="notfoundpanel">
            <h1>404!</h1>
            <h3>Ocurrio un error, para ingresar a contabilium ingrese <a href="/home.aspx">aqui</a></h3>
            
        </div>
    </section>

    <script src="js/jquery-1.10.2.min.js"></script>
    <script src="js/jquery-migrate-1.2.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/modernizr.min.js"></script>
    <script src="js/retina.min.js"></script>
    <script src="js/custom.js"></script>
</body>
</html>
