﻿@model ACHE.Admin.Models.LoginViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Fidely</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <link rel="shortcut icon" href="/images/favicon.png" type="image/png" />
    <link href="~/css/style.default.css" rel="stylesheet" />
    <style type="text/css">
        small
        {
            font-size: 12px;
        }
    </style>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="~/js/html5shiv.js"></script>
        <script src="~/js/respond.min.js"></script>
    <![endif]-->

    <style type="text/css">
        .error
        {
            color: red;
        }

        .lockedpanel .uname,.lockedpanel .uname:focus, .lockedpanel .uname:active
        {
            background: #fff url(/images/user.png) no-repeat 95% center !important;
        }

        .lockedpanel .pword, .lockedpanel .pword:focus, .lockedpanel .pword:active
        {
            background: #fff url(/images/locked.png) no-repeat 95% center !important;
        }

        input:-webkit-autofill,
        input:-webkit-autofill:hover,
        input:-webkit-autofill:focus,
        input:-webkit-autofill:active {
            transition: background-color 5000s ease-in-out 0s;
            -webkit-box-shadow: 0 0 0px 1000px #fff inset;
        }
    </style>
</head>
<body class="notfound" style="background-color: #1067AE; color: #fff">

    <section>
        <div class="lockedpanel">

            <div class="loginuser">
                <h1>FIDELY</h1>
            </div>

            <div id="divLogin">

                <div id="divLoginLoading" style="text-align: center; display: none" class="form">
                    <h4>ACCESO ADMINISTRADOR</h4>
                    <br />
                    <h3 style="color: #2b9b8f; font-family: Arial, Helvetica, sans-serif;">Un momento por favor</h3>
                    <p>Estamos verificando la información ingresada...</p>
                    <br />
                    <img src="~/images/loaders/greenLoader.gif" />
                </div>

                <div id="divLoginForm">
                    <h4>ACCESO ADMINISTRADOR</h4>
                    @*<div class="logged">
                        <small>Ingresa tu usuario y contraseña para ingresar al sistema.</small>
                    </div>*@

                    @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { id = "frmLogin", autocomplete = "off" }))
                    {
                        if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
                        { 
                        @Html.BootStrapValidationSummary()
                        }
                        <div class="alert alert-danger" id="divError" style="display: none"></div>
                                    
                        @Html.TextBoxFor(m => m.Usuario, new { @class = "form-control uname", @placeholder = "Usuario", @id = "txtUsuario" })
                        <div style="margin-top: 5px">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control pword", @placeholder = "Contraseña" })
                        </div>

                        <input type="submit" class="btn btn-gray btn-block" value="INGRESAR" />
                        <br />
                        <div align="center" class="hide">
                            <a style="display: inline-block; vertical-align: middle;" href="#" onclick="Acceso.showForm('recupero');"><small>¿Olvidaste tu contraseña?</small></a>
                        </div>
                    }
                </div>
            </div>
            <div id="divRecupero" style="display: none">

                <div id="divRecuperoLoading" style="text-align: center; display: none" class="form">
                    <h4>ACCESO ADMINISTRADOR</h4>
                    <br />
                    <h3 style="color: #2b9b8f; font-family: Arial, Helvetica, sans-serif;">Verificando...</h3>
                    <br />
                    <br />
                    <img src="~/images/loaders/greenLoader.gif" />
                    <br />
                    <br />
                </div>

                <div id="divRecuperoFin" style="text-align: center; display: none" class="form">
                    <h4>ACCESO ADMINISTRADOR</h4>
                    <br />
                    <h3 style="color: #2b9b8f; font-family: Arial, Helvetica, sans-serif;">El restablecimiento de tu contraseña ha sido realizado</h3>
                    <p>Te enviamos un email con tu nueva contraseña.</p>
                    <small>(Si luego de unos minutos no lo recibes, por favor verifica en tu Correo No Deseado)</small>
                    <br />
                    <br />
                    <a href="#" onclick="Acceso.showForm('login');"><small>volver</small></a>
                </div>
                <div id="divRecuperoForm" class="form">
                    <h4>ACCESO ADMINISTRADOR</h4>
                    <div class="logged">
                        <small>Ingresa tu tipo y número de documento para recuperar tu contraseña.</small>
                    </div>

                    <form id="frmRecupero">
                        <div class="alert alert-danger" id="divError2" style="display: none"></div>
                        <select class="form-control" id="cmbTipo">
                            <option value="CUIT">CUIT/CUIL</option>
                            <option value="DNI">DNI</option>
                        </select>
                        <input type="text" class="form-control numeric" placeholder="Nro Documento" id="txtDocumentoRecuperar" />
                        <input type="submit" class="btn btn-success btn-block" value="Recuperar" onclick="Acceso.recuperar(); return false;" />

                        <br />
                        <a href="#" onclick="Acceso.showForm('login');"><small>volver</small></a>
                    </form>
                </div>
            </div>
        </div>
        <!-- signin -->
    </section>

    <script src="~/js/jquery-1.11.1.min.js"></script>
    <script src="~/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/modernizr.min.js"></script>
    @*<script src="~/js/jquery.numericInput.min.js"></script>*@
    <script src="~/js/jquery-ui-1.10.3.min.js"></script>
    <script src="~/js/jquery.validate.min.js"></script>
    @*<script src="~/js/views/login.js"></script>
    <script src="~/js/views/common.js"></script>*@

    @*<script type="text/javascript">
        jQuery(document).ready(function () {
            if (navigator.userAgent.toLowerCase().indexOf("chrome") >= 0) {
                $(window).load(function () {
                    $('input:-webkit-autofill').each(function () {
                        var text = $(this).val();
                        var name = $(this).attr('name');
                        $(this).after(this.outerHTML).remove();
                        $('input[name=' + name + ']').val(text);
                    });
                });
            }
        });

    </script>*@
</body>
</html>
