﻿<div class="headerbar">
    <div class="header-left">
        <div class="logopanel">
            <a href="@Url.Action("Index", "Home")" style="color: #fff;font-size: 25px;">FIDELY</a>
        </div>
        <div class="topnav">
            <a class="menutoggle"><i class="fa fa-bars"></i></a>

            

            <ul class="nav nav-horizontal">
                <li class="nav-parent">

                    <a href="#"><i class="fa fa-tachometer"></i>DashBoard<span class="caret"></span></a>
                    <ul class="dropdown-menu children">
                        <li><a href='@Url.Action("Index", "Home")'><i class="fa fa-bar-chart"></i><span>DashBoard</span></a></li>
                    </ul>
                </li>



                <li><a href='@Url.Action("Index", "Usuario")'><i class="fa fa-users"></i><span>Usuarios</span></a></li>

                <li class="nav-parent">
                    <a href="#"><i class="fa fa-cog"></i>Soporte <span class="caret"></span></a>
                    <ul class="dropdown-menu children">
                        <li><a href='@Url.Action("RecuperarCae", "Soporte")'><i class="fa fa-caret-right"></i><span>Recuperar CAE</span></a></li>
                        <li><a href='@Url.Action("RegenerarPdf", "Soporte")'><i class="fa fa-caret-right"></i><span>Regenerar PDF</span></a></li>
                       
                    </ul>
                </li>

                <li class="nav-parent">
                    <a href="#"><i class="fa fa-bar-chart"></i>Reportes <span class="caret"></span></a>
                    <ul class="dropdown-menu children">
                        
                        <li><a href='@Url.Action("RptUsuarios", "Reporte")'><i class="fa fa-caret-right"></i><span>Usuarios</span></a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <div class="header-right">
        <ul class="headermenu">
            <li>
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="color: #fff">
                        <img src="~/images/photos/loggeduser.png" alt="" />
                        Admin
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-usermenu pull-right">

                        <li><a href="@Url.Action("LogOut", "Account")"><i class="fa fa-sign-out"></i><span>Cerrar sesión</span></a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>
