﻿<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" lang="es-ar">
<head id="Head1" runat="server">
    <title>Fidely</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta name="description" content="" />
    <link rel="shortcut icon" href="/images/favicon.png" type="image/png" />
    <link href="~/css/style.default.css" rel="stylesheet" />
    <link href="~/css/style.inverse.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css" />*@
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
    @*<link href="css/font.helvetica-neue.css" rel="stylesheet" />*@
    <script src="~/js/jquery-1.11.1.min.js"></script>
    <script src="~/js/jquery-migrate-1.2.1.min.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="~/js/html5shiv.js"></script>
        <script src="~/js/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
        .table thead > tr > th, .table tbody > tr > th, .table tfoot > tr > th, .table thead > tr > td, .table tbody > tr > td, .table tfoot > tr > td {
            padding:5px
        }

    </style>
</head>
<body class="horizontal-menu stickyheader">

    <div id="preloader">
        <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
    </div>

    <section>
        <div class="leftpanel">
            <div class="logopanel">
                <h1>FIDELY</h1>
            </div>
            <div class="leftpanelinner">

                <!-- This is only visible to small devices -->
                <div class="visible-xs hidden-sm hidden-md hidden-lg">
                    <div class="media userlogged">
                        <img alt="" src="~/images/photos/loggeduser.png" class="media-object" />
                        <div class="media-body">
                            <h4>Admin</h4>
                            @*<span>"Life is so..."</span>*@
                        </div>
                    </div>

                    <h5 class="sidebartitle actitle">Mi cuenta</h5>
                    <ul class="nav nav-pills nav-stacked nav-bracket mb30">
                        @*<li><a href="profile.html"><i class="fa fa-user"></i><span>Profile</span></a></li>
                        <li><a href=""><i class="fa fa-cog"></i><span>Account Settings</span></a></li>
                        <li><a href=""><i class="fa fa-question-circle"></i><span>Help</span></a></li>
                        <li><a href="signout.html"><i class="fa fa-sign-out"></i><span>Sign Out</span></a></li>*@
                        <li><a href="@Url.Action("LogOut", "Account")"><i class="fa fa-sign-out"></i><span>Cerrar sesión</span></a></li>
                    </ul>
                </div>
                <h5 class="sidebartitle">Menú</h5>
                <ul class="nav nav-pills nav-stacked nav-bracket">
                   <li class="nav-parent">
                         <a href="#"><i class="fa fa-tachometer"></i>DashBoard<span class="caret"></span></a>
                        <ul class="dropdown-menu children">
                            <li><a href='@Url.Action("Index", "Home")'><i class="fa fa-bar-chart"></i><span>DashBoard</span></a></li>
                           
                        </ul>
                    </li>
                    <li><a href='@Url.Action("Index", "Usuario")'><i class="fa fa-users"></i><span>Usuarios</span></a></li>
                    <li><a href='@Url.Action("Index", "Facturacion")'><i class="fa fa-money"></i><span>Facturación</span></a></li>

                    <li class="nav-parent">
                        <a href="#"><i class="fa fa-cog"></i>Soporte <span class="caret"></span></a>
                        <ul class="dropdown-menu children">
                            <li><a href='@Url.Action("RecuperarCae", "Soporte")'><i class="fa fa-caret-right"></i><span>Recuperar CAE</span></a></li>
                            <li><a href='@Url.Action("RegenerarPdf", "Soporte")'><i class="fa fa-caret-right"></i><span>Regenerar PDF</span></a></li>
                            
                        </ul>
                    </li>
                    <li class="nav-parent">
                        <a href="#"><i class="fa fa-bar-chart"></i>Reportes <span class="caret"></span></a>
                        <ul class="dropdown-menu children">
                            
                            <li><a href='@Url.Action("RptUsuarios", "Reporte")'><i class="fa fa-caret-right"></i><span>Usuarios</span></a></li>

                        </ul>
                    </li>
                </ul>
            </div>
            <!-- leftpanelinner -->
        </div>

        <div class="mainpanel">
            @Html.Partial("~/Views/Shared/_Header.cshtml")

            @RenderBody()
        </div>
    </section>

    <script src="~/js/jquery-ui-1.10.3.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/modernizr.min.js"></script>
    <script src="~/js/jquery.numericInput.min.js"></script>
    <script src="~/js/toggles.min.js"></script>
    <script src="~/js/bootbox.js"></script>
    <script src="~/js/custom.js"></script>
    <script src="~/js/views/common.js?v=1"></script>

        <script type="text/javascript">
            setInterval(function () {
                // Do something every 5 seconds
                // 1. Make request to server
                var url = document.domain;
                $.post("/Account/KeepSession");
            }, 6000);
    </script>

</body>
</html>
