﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Front.master" AutoEventWireup="true" CodeFile="trackingHoras.aspx.cs" Inherits="modulos_ventas_trackingHoras" %>

<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" runat="Server">
    
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="Server">
    <div class="pageheader">
        <h2><i class='fa fa-clock-o'></i>Tracking Horas <span>Administración</span></h2>
        <div class="breadcrumb-wrapper">
            <span class="label">Estás aquí:</span>
            <ol class="breadcrumb">
                <li><a href="/home.aspx"><i class="fa fa-home faHomeCustom"></i></a></li>
                <li class="active">Tracking Horas</li>
            </ol>
        </div>
    </div>

    <div id="divConDatos" runat="server">
        <div class="contentpanel">
            <div class="row">
                <div class="col-sm-12 col-md-12 table-results">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                              <form runat="server" id="frmSearch">
                                <input type="hidden" id="hdnTipo" runat="server" />
                                <input type="hidden" id="hdnPage" runat="server" value="1" />
                                <div class="col-sm-12" style="padding-left: inherit">
                                     <div class="col-sm-5 col-md-7">
                                        <div class="row">
                                            <div class="col-sm-8 col-md-8 form-group">
                                                <input type="text" class="form-control" id="txtCondicion" maxlength="128" placeholder="Ingrese el nombre del cliente o proveedor" />
                                            </div>

                                            <div class="col-sm-4 col-md-4 form-group">
                                                <select class="form-control" id="ddlPeriodo" onchange="trackingHoras.otroPeriodo();">
                                                    <option value="30" selected="selected">Últimos 30 dias</option>
                                                    <option value="15">Últimos 15 dias</option>
                                                    <option value="7">Últimos 7 dias</option>
                                                    <option value="1">Ayer</option>
                                                    <option value="0">Hoy</option>
                                                    <option value="-1">Otro período</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div id="divMasFiltros" style="display: none">
                                            <div class="row">
                                                <div class="col-sm-6 col-md-6 form-group">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                                        <asp:TextBox runat="server" ID="txtFechaDesde" CssClass="form-control validDate greaterThan" placeholder="Fecha desde" MaxLength="10" onchange="trackingHoras.filtrar();"></asp:TextBox>
                                                    </div>
                                                </div>

                                                <div class="col-sm-6 col-md-6 form-group">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                                        <asp:TextBox runat="server" ID="txtFechaHasta" CssClass="form-control validDate greaterThan" placeholder="Fecha hasta" MaxLength="10" onchange="trackingHoras.filtrar();"></asp:TextBox>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-7 col-md-5 responsive-buttons md">
                                        <a class="btn btn-warning mr10" onclick="trackingHoras.nuevo();">
                                            <i class="fa fa-plus"></i>&nbsp;Nuevo tracking Hora
                                        </a>
                                        <a class="btn btn-default" href="/modulos/reportes/trackingHora.aspx">
                                            <i class="fa fa-bar-chart-o"></i>&nbsp;Ver reporte
                                        </a>
                                    </div>
                                </div>
                            </form>
                            <div class="col-sm-12"><hr class="mt0" /></div>
                            <div class="row">
                                <div class="pull-right">
                                    <div class="btn-group mr10" id="divExportar" runat="server">
                                        <div class="btn btn-white tooltips">
                                            <a id="divIconoDescargar" href="javascript:trackingHoras.exportar();">
                                                <i class="glyphicon glyphicon-save"></i>&nbsp;Exportar
                                            </a>
                                            <img alt="" src="/images/loaders/loader1.gif" id="imgLoading" style="display: none" />
                                            <a href="" id="lnkDownload" onclick="trackingHoras.resetearExportacion();" download="ClientesProv" style="display: none">Descargar</a>
                                        </div>
                                    </div>

                                    <div class="btn-group mr10" id="divPagination" style="display: none">
                                        <a class="btn btn-white" id="lnkPrevPage" style="cursor: pointer" onclick="trackingHoras.mostrarPagAnterior();"><i class="glyphicon glyphicon-chevron-left"></i>Anterior</a>
                                        <a class="btn btn-white" id="lnkNextPage" style="cursor: pointer" onclick="trackingHoras.mostrarPagProxima();">Siguiente <i class="glyphicon glyphicon-chevron-right"></i></a>
                                    </div>
                                </div>

                                <h4 class="panel-title" style="clear: left; padding-left: 20px">Resultados</h4>
                                <p id="msjResultados" style="padding-left: 20px"></p>
                            </div>
                        </div>
                        <!-- panel-heading -->
                        <div class="panel-body">

                            <div class="alert alert-danger" id="divError" style="display: none">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <strong>Lo sentimos!</strong> <span id="msgError"></span>
                            </div>

                            <div class="table-responsive">
                                <table class="table mb30">
                                    <thead>
                                        <tr>
                                            <!--th>#</th-->
                                            <th>Razón Social</th>
                                            <th>Fecha</th>
                                            <th>Desde/Hasta</th>
                                            <th>Duración (Hrs)</th>
                                            <th>Valor Hora</th>
                                            <th>Modo</th>
                                            <th style="max-width:200px">Tarea</th>
                                            <th class="columnIcons"></th>
                                        </tr>
                                    </thead>
                                    <tbody id="resultsContainer">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script id="resultTemplate" type="text/x-jQuery-tmpl">
            {{each results}}
        <tr>
            <!--td>${ID}</td-->
            <td>${RazonSocial}</td>
            <td>${Fecha}</td>
            <td>${DesdeHasta}</td>
            <td>${Duracion}</td>
            <td>${ValorHora}</td>
            <td>${Estado}</td>
            <td style="max-width:200px">${Tarea}</td>
            
            <td class="table-action">
                <a onclick="trackingHoras.editar(${ID});" style="cursor: pointer; font-size: 16px" title="Editar"><i class="fa fa-pencil"></i></a>
                <a onclick="trackingHoras.eliminar(${ID},'${Tarea}');" style="cursor: pointer; font-size: 16px" class="delete-row" title="Eliminar"><i class="fa fa-trash-o"></i></a>
            </td>
        </tr>
            {{/each}}
        </script>

        <script id="noResultTemplate" type="text/x-jQuery-tmpl">
            <tr>
                <td colspan="8">No se han encontrado resultados</td>
            </tr>
        </script>
    </div>

    <div id="divSinDatos" runat="server">
        <div class="panel-heading" style="background-color: white; height: 30%; width: 100%; border-radius: 4px; text-align: center;">
            <h4 id="hTitulo">Aún no has creado ningún seguimiento de horas</h4>
            <br>
            <a class="btn btn-warning" onclick="trackingHoras.nuevo();" id="btnNuevoSinDatos">Crea un seguimiento</a>
        </div>
    </div>

</asp:Content>

<asp:Content ID="Content3" ContentPlaceHolderID="FooterContent" runat="Server">
    <script src="/js/views/ventas/trackingHoras.js?v=<%= ConfigurationManager.AppSettings["JS.Version"] %>"></script>
    <script>
        jQuery(document).ready(function () {

            if ($('#divConDatos').is(":visible")) {
                trackingHoras.configFilters();
                trackingHoras.filtrar();
            }
        });
    </script>
</asp:Content>
