﻿@model ACHE.Model.DashboardAdminViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="pageheader">
    <h2><i class="fa fa-tachometer"></i>Dashboard</h2>
    <link href="~/css/morris.css" rel="stylesheet" />
</div>

<div class="contentpanel">
    @*<div class="row text-center">
        @foreach (var p in Model.Listaplanes)
        {
            <div class="col-sm-6 col-md-2 col-lg-3">

                <div class="blog-item blog-quote">
                    @if (@p.IDPlan == 5)
                    {
                       <div class="quote quote-primary" style="padding-bottom: 10px; padding-top: 10px; background-color: #888; color: #fff;">@p.Nombre</div>
                    }
                    else if (@p.IDPlan == 99)
                    {
                        <div class="quote quote-primary" style="padding-bottom: 10px; padding-top: 10px; background-color: #000; color: #fff;">@p.Nombre</div>
                    }
                    else if (@p.IDPlan == 6)
                    {
                        <div class="quote quote-primary" style="padding-bottom: 10px; padding-top: 10px; background-color: #D9534F; color: #fff;">@p.Nombre</div>
                    }
                    else if (@p.IDPlan == 3)
                    {
                        <div class="quote quote-primary" style="padding-bottom: 10px; padding-top: 10px; background-color: #be315f; color: #fff;">@p.Nombre</div>
                    }
                    else if (@p.IDPlan == 0)
                    {
                        <div class="quote quote-primary" style="padding-bottom: 10px; padding-top: 10px; background-color: #ecbf07; color: #fff;">@p.Nombre</div>
                    }
                    else
                    {
                        <div class="quote quote-primary" style="padding-bottom: 10px; padding-top: 10px; background-color: #2b9b8f; color: #fff;">@p.Nombre</div>
                    }
                    
                    <div class="blog-details">
                        @if (p.IDPlan != 0)
                        {
                            <div class="row">
                                <div class="col-xs-6 label tooltips" data-placement="bottom" data-toggle="dropdown" data-original-title="Usuarios pagando">
                                    <small class="stat-label subtitle" style="font-size: 11px;">Activos</small>
                                    <h4><a style='color: #636e7b' href="#" onclick="home.consultarUsuariosSegunPlan(@p.IDPlan,'Total Activos');">@p.TotalActivos.ToString()</a></h4>
                                </div>
                                <div class="col-xs-6 label tooltips" data-placement="bottom" data-toggle="dropdown" data-original-title="Usuarios que renovaron el plan y aún no lo pagaron">
                                    <small class="stat-label subtitle" style="font-size: 11px;">Pendiente</small>
                                    <h4><a style='color: #636e7b' href="#" onclick="home.consultarUsuariosSegunPlan(@p.IDPlan,'Total Pendientes de pago');">@p.TotalPendienteDePago.ToString()</a></h4>
                                </div>
                            </div>
                        }


                        <div class="row">
                            @if (p.IDPlan != 0){
                            
                                <div class="col-xs-6 label tooltips" data-placement="bottom" data-toggle="dropdown" data-original-title="Usuarios con el plan vencido o que dejaron de pagar">
                                    <small class="stat-label subtitle" style="font-size: 11px;">Inactivos</small>
                                    <h4><a style='color: #636e7b' href="#" onclick="home.consultarUsuariosSegunPlan(@p.IDPlan,'Total Inactivos');">@p.TotalInactivos.ToString()</a></h4>
                                </div>
                            }
                            else
                            {
                                <div class="col-xs-6 label tooltips" data-placement="bottom" data-toggle="dropdown" data-original-title="Usuarios pagos">
                                    <small class="stat-label subtitle" style="font-size: 11px;">Pagos</small>
                                    <h4><a style='color: #636e7b' href="#">@p.TotalActivos.ToString()</a></h4>
                                </div>
                            <div class="col-xs-6 label tooltips" data-placement="bottom" data-toggle="dropdown" data-original-title="Usuarios con el plan vencido o que dejaron de pagar">
                                <small class="stat-label subtitle" style="font-size: 11px;">Inactivos</small>
                                <h4><a style='color: #fff; background-color: red; padding: 5px;' href="#">@p.TotalInactivos.ToString()</a></h4>
                            </div>
                            }

                            @if (p.IDPlan == 6)
                            {
                                <div class="col-xs-6 label tooltips" data-placement="bottom" data-toggle="dropdown" data-original-title="Usuarios que completaron el proceso de registro statisfactoriamente.">
                                    <small class="stat-label subtitle" style="font-size: 11px;">Setup OK</small>
                                    <h4><a style='color: #636e7b' href="#" onclick="home.consultarUsuariosSegunPlan(@p.IDPlan,'Setup OK');">@p.TotalActivos.ToString()</a></h4>
                                </div>
                            }
                            else
                            {
                                <div class="col-xs-6 label tooltips" data-placement="bottom" data-toggle="dropdown">
                                    <small class="stat-label subtitle" style="font-size: 11px;">Total</small>
                                    <h4><a style='color: #636e7b' href="#" onclick="home.consultarUsuariosSegunPlan(@p.IDPlan,'Total Usuarios');">@p.TotalUsuarios.ToString()</a></h4>
                                </div>
                            }
                        </div>

                    </div>
                </div>
            </div>
        }

    </div>
    *@

    <div class="row hide">
        <div class="col-sm-12 col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">KPIs: LTV,CHURN, AlTAS</h3>
                </div>
                <div class="panel-body">
                    <div class="col-sm-12 col-md-4">
                        <canvas id=""></canvas>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <canvas id=""></canvas>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <canvas id=""></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Alertas</h3>
                </div>
                <div class="panel-body">
                    <div class="col-sm-12 col-md-3">
                        <div class="panel panel-danger panel-stat">
                            <div class="panel-heading">
                                <div class="stat">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <img src="images/is-user.png" alt="" />
                                        </div>
                                        <div class="col-xs-8">
                                            <small class="stat-label">Usuarios impagos</small>
                                            <h1 id="lblAlertaImpagos">@Model.TotalImpagos</h1>
                                            <a href="/Facturacion" style="color:#fff">ver detalle</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- stat -->
                            </div>
                            <!-- panel-heading -->
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3">
                        <div class="panel panel-warning panel-stat">
                            <div class="panel-heading">
                                <div class="stat">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <img src="images/is-money.png" alt="" />
                                        </div>
                                        <div class="col-xs-8">
                                            <small class="stat-label">Pagos anuales a vencer</small>
                                            <h1 id="lblAlertaAnual">54.40%</h1>
                                            <a href="/Facturacion" style="color:#fff">ver detalle</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- stat -->
                            </div>
                            <!-- panel-heading -->
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3">
                        <div class="panel panel-primary  panel-stat">
                            <div class="panel-heading">
                                <div class="stat">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <img src="images/is-document.png" alt="" />
                                        </div>
                                        <div class="col-xs-8">
                                            <small class="stat-label">Pagos pendientes</small>
                                            <h1 id="lblAlertaPendientes">54.40%</h1>
                                        <a href="/Facturacion" style="color:#fff">&nbsp;</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- stat -->
                            </div>
                            <!-- panel-heading -->
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3">
                        <div class="panel panel-warning panel-stat" >
                            <div class="panel-heading" style="background-color:#2ecc71">
                                <div class="stat">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <img src="images/is-user.png" alt="" />
                                        </div>
                                        <div class="col-xs-8">
                                            <small class="stat-label">USUARIOS INACTIVOS CON PAGO ANUAL</small>
                                            <h1 id="lblAlertaAnualInactivos"></h1>
                                            <a href="#" onclick="home.verDetalleAnualesInactivos();" style="color:#fff">ver detalle</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- stat -->
                            </div>
                            <!-- panel-heading -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row hide">
        <div class="col-sm-12 col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Tipos de usuarios</h3>
                </div>
                <div class="panel-body">
                    <div class="col-sm-12 col-md-6">
                        <canvas id="chartTiposUsuarios"></canvas>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <canvas id="chartUsuariosEcommerce"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row hide">
        <div class="col-sm-12 col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Integraciones activas</h3>
                </div>
                <div class="panel-body">
                    <div class="col-sm-12 col-md-6">
                        <canvas id="chartCantIntegraciones"></canvas>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <canvas id="chartIntegracionesComp"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Cantidad de usuarios registrados en los últimos 12 meses</h3>
                </div>
                <div class="panel-body">
                    <div class="col-sm-12 col-md-10">
                        <canvas id="chartUsuariosRegistradosDias"></canvas>
                    </div>
                    <div class="col-sm-12 col-md-2 temp text-center">
                        <div class="panel panel-warning panel-alt widget-today" style="margin-top: 5px;">
                            <div class="panel-heading text-center" style="background-color: rgb(54, 162, 235)">
                                <h1 id="chartUsuariosRegistradosDiasLbl" style="color: #fff; font-size: 50px"></h1>
                            </div>
                            <div class="panel-body text-center" style="border: 1px solid rgb(54, 162, 235);background-color:#fff">
                                <table class="table" style="background-color:#fff">
                                    <tr>
                                        <td style="border:0; color:rgb(54, 162, 235)">Año</td>
                                        <td style="border:0; color:rgb(54, 162, 235)">Total</td>
                                        <td style="border:0; color:rgb(54, 162, 235)">Prom.</td>
                                    </tr>
                                    <tr>
                                        <td>2018</td>
                                        <td>@Model.TotalRegistros2018</td>
                                        <td>@Model.PromedioRegistros2018</td>
                                    </tr>
                                    <tr>
                                        <td>2017</td>
                                        <td>@Model.TotalRegistros2017</td>
                                        <td>@Model.PromedioRegistros2017</td>
                                    </tr>
                                    <tr>
                                        <td>2016</td>
                                        <td>@Model.TotalRegistros2016</td>
                                        <td>@Model.PromedioRegistros2016</td>
                                    </tr>
                                </table>

                                @*<h3 class="today" style="color: inherit; font-family: 'LatoRegular', 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, sans-serif;">Promedio x mes</h3>
                                <h5 id="totalRegistros2018">Total 2018:  @Model.TotalRegistros2018</h5>
                                <h5 id="totalRegistros2017">Total 2017:  @Model.TotalRegistros2017</h5>
                                <h5 id="totalRegistros2016">Total 2016:  @Model.TotalRegistros2016</h5>
                                <h5 id="promedioRegistros2018">Promedio 2018:  @Model.PromedioRegistros2018</h5>
                                <h5 id="promedioRegistros2017">Promedio 2017:  @Model.PromedioRegistros2017</h5>
                                <h5 id="promedioRegistros2016">Promedio 2016:  @Model.PromedioRegistros2016</h5>*@
                            </div>
                            <!-- panel-body -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Cantidad de altas en los últimos 12 meses (con setup)</h3>
                </div>
                <div class="panel-body">
                    <div class="col-sm-12 col-md-10">
                        <canvas id="chartAltas"></canvas>
                    </div>
                    <div class="col-sm-12 col-md-2 temp text-center">
                        <div class="panel panel-warning panel-alt widget-today" style="margin-top: 5px;">
                            <div class="panel-heading text-center" style="background-color: #a9d86e">
                                <h1 id="chartAltasLbl" style="color: #fff; font-size: 50px"></h1>
                            </div>
                            <div class="panel-body text-center" style="background-color:#fff">
                                @*<h3 class="today" style="color: inherit; font-family: 'LatoRegular', 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, sans-serif;">Promedio x mes</h3>*@
                                <table class="table" style="border: 1px solid #a9d86e;background-color:#fff">
                                    <tr>
                                        <td style="border:0; color:#a9d86e">Año</td>
                                        <td style="border:0; color:#a9d86e">Total</td>
                                        <td style="border:0; color:#a9d86e">Prom.</td>
                                    </tr>
                                    <tr>
                                        <td>2018</td>
                                        <td>@Model.TotalAltas2018</td>
                                        <td>@Model.PromedioAltas2018</td>
                                    </tr>
                                    <tr>
                                        <td>2017</td>
                                        <td>@Model.TotalAltas2017</td>
                                        <td>@Model.PromedioAltas2017</td>
                                    </tr>
                                    <tr>
                                        <td>2016</td>
                                        <td>@Model.TotalAltas2016</td>
                                        <td>@Model.PromedioAltas2016</td>
                                    </tr>
                                </table>


                                @*<h5 id="totalAltas2018">Total 2018: @Model.TotalAltas2018 </h5>
                                <h5 id="totalAltas2017">Total 2017: @Model.TotalAltas2017 </h5>
                                <h5 id="totalAltas2016">Total 2016: @Model.TotalAltas2016 </h5>
                                <h5 id="promedioAltas2018">Promedio 2018:  @Model.PromedioAltas2018</h5>
                                <h5 id="promedioAltas2017">Promedio 2017:  @Model.PromedioAltas2017</h5>
                                <h5 id="promedioAltas2016">Promedio 2016:  @Model.PromedioAltas2016</h5>*@
                            </div>
                            <!-- panel-body -->
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Cantidad de bajas en los últimos 12 meses</h3>
                </div>
                <div class="panel-body">
                    <div class="col-sm-12 col-md-10">
                        <canvas id="chartBajas"></canvas>
                    </div>
                    <div class="col-sm-12 col-md-2 temp text-center">
                        <div class="panel panel-warning panel-alt widget-today" style="margin-top: 5px;">
                            <div class="panel-heading text-center" style="background-color: #D9534F">
                                <h1 id="chartBajasLbl" style="color: #fff; font-size: 50px"></h1>
                            </div>
                            <div class="panel-body text-center" style="border: 1px solid #D9534F;background-color:#fff">
                                @*<h3 class="today" style="color: inherit; font-family: 'LatoRegular', 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, sans-serif;">Promedio x mes</h3>*@
                                <table class="table" style="background-color:#fff">
                                    <tr>
                                        <td style="border:0; color:#D9534F">Año</td>
                                        <td style="border:0; color:#D9534F">Total</td>
                                        <td style="border:0; color:#D9534F">Prom.</td>
                                    </tr>
                                    <tr>
                                        <td>2018</td>
                                        <td>@Model.TotalBajas2018</td>
                                        <td>@Model.PromedioBajas2018</td>
                                    </tr>
                                    <tr>
                                        <td>2017</td>
                                        <td>@Model.TotalBajas2017</td>
                                        <td>@Model.PromedioBajas2017</td>
                                    </tr>
                                    <tr>
                                        <td>2016</td>
                                        <td>@Model.TotalBajas2016</td>
                                        <td>@Model.PromedioBajas2016</td>
                                    </tr>
                                </table>
                                @*<h5 id="totalBajas2018">Total 2018: @Model.TotalBajas2018</h5>
                                <h5 id="totalBajas2017">Total 2017: @Model.TotalBajas2017</h5>
                                <h5 id="totalBajas2016">Total 2016: @Model.TotalBajas2016</h5>
                                <h5 id="promedioBajas2018">Promedio 2018:  @Model.PromedioBajas2018</h5>
                                <h5 id="promedioBajas2017">Promedio 2017:  @Model.PromedioBajas2017</h5>
                                <h5 id="promedioBajas2016">Promedio 2016:  @Model.PromedioBajas2016</h5>*@
                            </div>
                            <!-- panel-body -->
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Cantidad de usuarios por plan en los últimos 6 meses</h4>

                </div>
                <div class="panel-body">
                    <div class="col-sm-12 col-md-10">
                        <canvas id="chartUsuariosPorPlan"></canvas>
                    </div>
                    <div class="col-sm-12 col-md-2">

                        <h5 class="subtitle mb5">Mes actual</h5>

                        <span class="sublabel" id="divBarBasicoLbl">Basico</span>
                        <div class="progress progress-sm">
                            <div id="divBarBasico" aria-valuemax="100" aria-valuemin="0" aria-valuenow="40" role="progressbar" class="progress-bar" style="background-color: #FAAC58"></div>
                        </div>
                        <!-- progress -->

                        <span class="sublabel" id="divBarProfesionalLbl">Profesional</span>
                        <div class="progress progress-sm">
                            <div id="divBarProfesional" class="progress-bar" style="background-color: rgb(237,194,64)"></div>
                        </div>
                        <!-- progress -->

                        <span class="sublabel" id="divBarPymeLbl">Pyme</span>
                        <div class="progress progress-sm">
                            <div id="divBarPyme" class="progress-bar" style="background-color: #58FAF4"></div>
                        </div>
                        <!-- progress -->

                        <span class="sublabel" id="divBarEmpresaLbl">Empresa</span>
                        <div class="progress progress-sm">
                            <div id="divBarEmpresa" class="progress-bar" style="background-color: #AC58FA"></div>
                        </div>
                        <!-- progress -->

                        <span class="sublabel" id="divBarCorporativoLbl">Corporativo</span>
                        <div class="progress progress-sm">
                            <div id="divBarCorporativo" class="progress-bar" style="background-color: #DF013A"></div>
                        </div>
                        <!-- progress -->
                        <span class="sublabel" id="divBarFreeLbl">Free</span>
                        <div class="progress progress-sm">
                            <div id="divBarFree" class="progress-bar" style="background-color: #E6E6E6"></div>
                        </div>
                        <!-- progress -->

                        <br />
                        <h5 class="subtitle mb5" id="divBarTotalPagos" style="text-align: center;"></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Formas de pago utilizadas en los últimos 6 meses por plan</h3>
                </div>
                <div class="panel-body">
                    <canvas id="chartFormasDePago"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Cantidad de pagos anuales en los últimos 12 meses</h3>
                </div>
                <div class="panel-body">
                    <div class="col-sm-12 col-md-10">
                        <canvas id="chartPagosAnuales"></canvas>
                    </div>
                    <div class="col-sm-12 col-md-2 temp text-center">
                        <div class="panel panel-warning panel-alt widget-today" style="margin-top: 5px;">
                            @*<h3 class="today" style="color: inherit; font-family: 'LatoRegular', 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, sans-serif;">Promedio 12 meses</h3>*@
                            <div class="panel-heading text-center" style="background-color: #FCB322">
                                <h1 id="chartPagosAnualesLbl" style="color: #fff; font-size: 50px"></h1>
                            </div>
                            <div class="panel-body text-center" style="border: 1px solid #FCB322;background-color:#fff">
                                <table class="table" style="background-color:#fff">
                                    <tr>
                                        <td style="border:0; color:#FCB322">Año</td>
                                        <td style="border:0; color:#FCB322">Total</td>
                                        <td style="border:0; color:#FCB322">Prom.</td>
                                    </tr>
                                    <tr>
                                        <td>2018</td>
                                        <td>@Model.TotalAnuales2018</td>
                                        <td>@Model.PromedioAnuales2018</td>
                                    </tr>
                                    <tr>
                                        <td>2017</td>
                                        <td>@Model.TotalAnuales2017</td>
                                        <td>@Model.PromedioAnuales2017</td>
                                    </tr>
                                    <tr>
                                        <td>2016</td>
                                        <td>@Model.TotalAnuales2016</td>
                                        <td>@Model.PromedioAnuales2016</td>
                                    </tr>
                                </table>
                                @*<h5 id="totalAnuales2018">2018: @Model.TotalAnuales2018. Prom: @Model.PromedioAnuales2018 %</h5>
                                <h5 id="totalAnuales2017">2017: @Model.TotalAnuales2017. Prom: @Model.PromedioAnuales2017 %</h5>
                                <h5 id="totalAnuales2016">2016: @Model.TotalAnuales2016. Prom: @Model.PromedioAnuales2016 %</h5>*@
                            </div>
                            <!-- panel-body -->
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>




    <div class="row hide">
        <div class="col-sm-12 col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Comprobantes por tipo en los últimos 12 meses</h3>
                </div>
                <div class="panel-body">
                    <div class="col-sm-12 col-md-10">
                        <canvas id="chartComprobantesPorTipo"></canvas>
                    </div>
                    <div class="col-sm-12 col-md-2 temp text-center">
                        <div class="panel panel-warning panel-alt widget-today" style="margin-top: 5px;">
                            <div class="panel-heading text-center" style="background-color: black">
                                <h1 id="chartComprobantesCOTLbl" style="color: #fff; font-size: 35px"></h1>
                            </div>
                            <div class="panel-body text-center">
                                <h3 class="today" style="color: inherit; font-family: 'LatoRegular', 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, sans-serif;">Promedio x mes COT</h3>
                                <h5 >2018: @Model.TotalComprobantesCOT2018. Prom:  @Model.PromedioComprobantesCOT2018</h5>
                                <h5 >2017: @Model.TotalComprobantesCOT2017. Prom:  @Model.PromedioComprobantesCOT2017</h5>
                                <h5 >2016: @Model.TotalComprobantesCOT2016. Prom:  @Model.PromedioComprobantesCOT2016</h5>
                            </div>
                            <!-- panel-body -->
                        </div>
                        <div class="panel panel-warning panel-alt widget-today" style="margin-top: 5px;">
                            <div class="panel-heading text-center" style="background-color: #4C8470">
                                <h1 id="chartComprobantesOTROSLbl" style="color: #fff; font-size: 35px"></h1>
                            </div>
                            <div class="panel-body text-center" style="padding: 15px 0px 0px 0px;">
                                <h3 class="today" style="color: inherit; font-family: 'LatoRegular', 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, sans-serif;">Promedio x mes OTROS</h3>
                                <h5>2018: @Model.TotalComprobantesOTROS2018. Prom:  @Model.PromedioComprobantesOTROS2018</h5>
                                <h5>2017: @Model.TotalComprobantesOTROS2017. Prom:   @Model.PromedioComprobantesOTROS2017</h5>
                                <h5>2016: @Model.TotalComprobantesOTROS2016. Prom:   @Model.PromedioComprobantesOTROS2016</h5>
                            </div>
                            <!-- panel-body -->
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>












</div>






<div class="modal modal-wide fade" id="modalDetalle" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 90%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="titDetalle">Detalles de usuarios inactivos con pago anual</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                </div>
                <div class="alert alert-danger" id="divAyudaError" style="display: none">
                    <strong>Lo sentimos! </strong><span id="msgAyudaError"></span>
                </div>
                <div id="divDetalle" class="table-responsive">
                    <table class="table table-hover mb30">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Razon social</th>
                                <th>CUIT</th>
                                <th>Email</th>
                                <th>Fecha registro</th>
                                <th>Fecha de pago</th>
                                <th>Plan</th>
                                <th>Importe pagado</th>
                                <th>Código promo</th>
                                <th>Fecha fin plan</th>
                                <th>Fecha ultimo login</th>



                            </tr>
                        </thead>
                        <tbody id="resultsContainerDetalle">
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


<script id="resultTemplateDet" type="text/x-jQuery-tmpl">
    {{each results}}
        <tr>
            <td><a href="javascript:Common.editarUsuario(${IDUsuario});">${IDUsuario}</a></td>
            <td>${RazonSocial}</td>
            <td>${CUIT}</td>
            <td>${Email}</td>
            <td>${FechaAlta}</td>
            <td>${FechaPago}</td>
            <td>${NombrePlan}</td>
            <td>${ImportePagado}</td>
            <td>${CodigoPromo}</td>
            <td>${FechaVenc}</td>
            <td>${FechaUltLogin}</td>

        </tr>
    {{/each}}



</script>
<script src="~/js/jquery.tmpl.min.js"></script>
<script src="~/js/views/common.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js"></script>
<script src="~/js/views/home.js?v=2"></script>

@*<script src="~/js/flot/jquery.flot.js"></script>
<script src="~/js/flot/jquery.flot.resize.min.js"></script>
<script src="~/js/flot/jquery.flot.orderBars.min.js"></script>
<script src="~/js/flot/jquery.flot.time.js"></script>
<script src="~/js/flot/jquery.flot.categories.js"></script>
<script src="~/js/morris.min.js"></script>
<script src="~/js/raphael-2.1.0.min.js"></script>
*@


<script type="text/javascript">
    jQuery(document).ready(function () {
        home.alertas();
        home.tipoUsuarios();

        //home.usuariosPorProvincia();
        //home.usuariosVentaOnline();
        //home.integracionesCant();
        //home.integracionesComprobantes();
        home.usuariosRegistrados();
        home.bajasRegistradas();
        home.altasRegistradas();
        home.usuariosPorPlan();
        home.formasDePagoUtilizadas();
        home.pagosAnuales();

        //home.comprobantesPorTipo();
        //home.ObtenerPlanesPorMeses();
        //home.ObtenerPlanesPorDias();
        //home.ObtenerFormasPago();
        //home.ObtenerFacturacion();
        //home.ObtenerFacturacionDias();
    });
</script>
