﻿@model ACHE.Admin.Models.UsuarioViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="pageheader">
    <h2><i class="fa fa-bar-chart"></i>Reporte de vencimientos</h2>
    @*<span>Administración</span></h2>*@
</div>

<div class="contentpanel">
    <div class="row">
        <div class="col-sm-12 col-md-12 table-results">
            <div class="panel panel-default">
                <div class="panel-heading">

                    <form runat="server" id="frmSearch">
                        <input type="hidden" id="hdnPage" runat="server" value="1" />
                        <div class="col-sm-12" style="padding-left: inherit">
                            <div class="col-sm-10 col-md-5">
                                <div class="row">
                                    <div class="col-sm-6 col-md-6 hide">
                                        <input type="text" class="form-control" id="txtCondicion" maxlength="128" placeholder="Ingrese el número de la factura y/o cliente " />
                                    </div>

                                    @*  <div class="col-sm-6 col-md-6 hide">
                                        <select class="select2" data-placeholder="Seleccione un periodo de tiempo..." id="ddlPeriodo" onchange="facturacion.otroPeriodo();">
                                            <option value="" selected="selected"></option>
                                            <option value="30">Últimos 30 dias</option>
                                            <option value="15">Últimos 15 dias</option>
                                            <option value="7">Últimos 7 dias</option>
                                            <option value="1">Ayer</option>
                                            <option value="0">Hoy</option>
                                            <option value="-1">Otro período</option>
                                        </select>*@
                                    <div class="col-sm-12 col-md-12">
                                        <input onchange="facturacion.otroPeriodo();" id="checkboxPrueba" style="margin-bottom: 4px" type="checkbox" />Excluir planes en modo prueba
                                    </div>
                                    <div class="row mb20"></div>


                                    <div class="col-sm-12 col-md-12">

                                        <select class="select2" data-placeholder="Seleccione un periodo de tiempo..." id="ddlPeriodo" onchange="facturacion.otroPeriodo();">
                                            <option value="1">Planes vencidos</option>
                                            <option value="2">Planes a vencer</option>
                                        </select>
                                    </div>
                                    <div class="row mb20"></div>

                                    <div class="col-sm-12 col-md-12">

                                        <select class="select2" data-placeholder="Seleccione pagos mensuales o anuales" id="ddlAnualMensual" onchange="facturacion.filtrar();">
                                             <option value=""></option>
                                            <option value="1">Planes mensuales</option>
                                            <option value="2">Planes anuales</option>
                                        </select>
                                    </div>

                                </div>

                                <div class="row mb20"></div>

                                <div id="divMasFiltros">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                                <input id="txtFechaDesde" class="form-control validDateNotMax greaterThan" placeholder="Fecha desde" maxlength="10" onchange="facturacion.filtrar();" />
                                            </div>
                                        </div>

                                        <div class="col-sm-6 col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                                <input id="txtFechaHasta" class="form-control validDateNotMax greaterThan" placeholder="Fecha hasta" maxlength="10" onchange="facturacion.filtrar();" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="col-sm-12">
                        <hr />
                    </div>
                    <div class="row mb20"></div>
                    <div class="row">
                        <div class="pull-right">
                            <div class="btn-group mr10">
                                <div class="btn btn-white tooltips">
                                    <a id="divIconoDescargar" href="javascript:facturacion.exportar();">
                                        <i class="glyphicon glyphicon-save"></i>&nbsp;Exportar
                                    </a>
                                    <img alt="" src="~/images/loaders/loader1.gif" id="imgLoading" style="display: none" />
                                    <a href="" id="lnkDownload" onclick="facturacion.resetearExportacion();" download="facturacion" style="display: none">Descargar</a>
                                </div>
                            </div>

                            <div class="btn-group mr10" id="divPagination" style="display: none">
                                <a class="btn btn-white" id="lnkPrevPage" style="cursor: pointer" onclick="facturacion.mostrarPagAnterior();"><i class="glyphicon glyphicon-chevron-left"></i>Anterior</a>
                                <a class="btn btn-white" id="lnkNextPage" style="cursor: pointer" onclick="facturacion.mostrarPagProxima();">Siguiente <i class="glyphicon glyphicon-chevron-right"></i></a>
                            </div>
                        </div>

                        <h4 class="panel-title" style="clear: left; padding-left: 20px">Resultados</h4>
                        <p id="msjResultados" style="padding-left: 20px"></p>
                    </div>
                </div>
                <!-- panel-heading -->
                <div class="panel-body">

                    <div class="alert alert-danger" id="divError" style="display: none">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <strong>Lo sentimos!</strong> <span id="msgError"></span>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-hover mb30">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Razón social</th>
                                    <th>CUIT</th>
                                    @*<th>Cond. IVA</th>*@
                                    <th>Email</th>
                                    <th>Teléfono</th>
                                    <th>Promo</th>
                                    @*<th>Setup</th>*@
                                    <th>Antig.</th>
                                    <th>Plan</th>
                                    <th>Venc. Plan</th>

                                    <th>Último login</th>
                                    <th>Fecha alta</th>
                                    <th>Baja</th>
                                    @*<th class="columnIcons"></th>*@
                                </tr>
                            </thead>
                            <tbody id="resultsContainer">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script id="resultTemplate" type="text/x-jQuery-tmpl">
    {{each results}}
        <tr onclick="facturacion.editar(${ID});" style="cursor: pointer;">
            <td><a href="javascript:Common.editarUsuario(${ID});">${ID}</a></td>
            <td>${RazonSocial}</td>
            <td>${CUIT}</td>
            @*<td>${CondicionIva}</td>*@
            <td>${Email}</td>
            <td>${Telefono}</td>
            <td>${CodigoPromo}</td>
            @*<td>{{html SetupRealizado}}</td>*@
            <td>${AntiguedadMeses}</td>
            <td>${PlanActual}</td>
            <td>${VencimientoPago}</td>
            <td>${FechaUltLogin}</td>
            <td>${FechaAltaDesc}</td>
            <td>${Baja}</td>

            @*<td class="table-action">
                <a onclick="usuario.editar(${ID});" style="cursor: pointer; font-size: 16px" title="Editar"><i class="fa fa-pencil"></i></a>
            </td>*@
        </tr>
    {{/each}}
</script>

<script src="~/js/jquery.tmpl.min.js"></script>
<script src="~/js/jquery.validate.min.js"></script>
<script src="~/js/select2.min.js"></script>
<script src="~/js/views/facturacion.js"></script>

<script>
    jQuery(document).ready(function () {
        facturacion.filtrar();
        facturacion.configFilters();

    });
</script>


