﻿<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" lang="es-ar">
<head id="Head1" runat="server">
    <title>Contabilium.com</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <link rel="shortcut icon" href="/images/favicon.png" type="image/png" />
    <link href="/css/style.default.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css' />
    @*<link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css" />*@
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
    <script src="/js/jquery-1.11.1.min.js"></script>
    <script src="/js/jquery-migrate-1.2.1.min.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="/js/html5shiv.js"></script>
        <script src="/js/respond.min.js"></script>
    <![endif]-->
    @RenderSection("Header",false)
</head>

<body class="horizontal-menu stickyheader">
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-62041584-3', 'auto');
        ga('send', 'pageview');

    </script>

    <div id="preloader">
        <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
    </div>
    <section>
        <div class="mainpanel">
            @Html.Partial("~/Views/Shared/_Header.cshtml")

            @RenderBody()
        </div>
    </section>

    <div class="modal modal-wide fade" id="modalAyuda" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="titDetalle">Ayuda & Soporte</h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger" id="divAyudaError" style="display: none">
                        <strong>Lo sentimos! </strong><span id="msgAyudaError"></span>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <p>Por favor, indicanos en qué te podemos ayudar</p>
                            <textarea rows="5" id="txtAyudaMensaje" class="form-control"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="enviarAyuda();">Enviar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/jquery-ui-1.10.3.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/modernizr.min.js"></script>
    <script src="/js/toggles.min.js"></script>
    <script src="/js/custom.js"></script>
    <script src="/js/jquery.validate.min.js"></script>
    <script src="/js/views/common.js"></script>
    @RenderSection("Scripts",false)
</body>
</html>
