﻿<table cellpadding="0" cellspacing="0" border="0" align="center" style="background:#f9f9f9;border-collapse:collapse;line-height:100%!important;margin:0;padding:0;width:100%!important" bgcolor="#f9f9f9">
  <tbody>
	<tr>
		<td>
			<table style="border-collapse: collapse; margin: auto; max-width: 635px; min-width: 320px; width: 100%">
				<tbody>
					<tr>
						<td valign="top">
							<table cellpadding="0" cellspacing="0" border="0" style="border-collapse: collapse; color: #c0c0c0; font-family: 'Helvetica Neue',Arial,sans-serif; font-size: 13px; line-height: 26px; margin: 0 auto 26px; width: 100%">
							</table>
						</td>
					</tr>
					<tr>
						<td valign="top" style="padding: 0 20px">

							<table cellpadding="0" cellspacing="0" border="0" align="center" style="background-clip: padding-box; border-collapse: collapse; border-radius: 3px; color: #545454; font-family: 'Helvetica Neue',Arial,sans-serif; font-size: 13px; line-height: 20px; margin: 0 auto; width: 100%">
								<tbody>
									<tr>
										<td valign="top">
											<table cellpadding="0" cellspacing="0" border="0" style="border: none; border-collapse: separate; font-size: 1px; height: 2px; line-height: 3px; width: 100%">
												<tbody>
													<tr>
														<td valign="top" style="background: #5d998e; border: none; font-family: 'Helvetica Neue',Arial,sans-serif; width: 100%" bgcolor="#95d0c3">&nbsp;</td>
													</tr>
												</tbody>
											</table>
											<table cellpadding="0" cellspacing="0" border="0" style="background-clip: padding-box; border-collapse: collapse; border-color: #dddddd; border-radius: 0 0 3px 3px; border-style: solid; border-width: 0 1px 1px; width: 100%">
												<tbody>
													<tr>
														<td>
															<div style="border-bottom: solid thin #ddd; padding: 40px; background-color: #fff;">
																<a href="http://www.contabilium.com"><a href="http://www.contabilium.com"><img src="https://app.contabilium.com/images/mails/simplifica.png" style="margin: auto; display: table;"></a></a>
															</div>
														</td>
													</tr>
													<tr>
														<td style="background: white; background-clip: padding-box; border-radius: 0 0 3px 3px; color: #525252; font-family: 'Helvetica Neue',Arial,sans-serif; font-size: 15px; line-height: 22px; overflow: hidden; padding: 20px 40px 30px" bgcolor="white">
															<div style="margin-bottom: 16px; margin-top: 0; padding-top: 0; text-align: left!important" align="left">
																<h1 style="font-size:20px;margin-top:10px;color:#525252;font-family: 'Helvetica Neue',Arial,sans-serif;margin-bottom: 0px;">
																	Hola <RAZONSOCIAL>:
																</h1>
 																<br>
																	<MENSAJE>
																	<br>
																	<br>Total suscriptos: <CANTDEBITOS>
																	<br>Precio unitario c/ iva: <PRECIOUNITARIO>
																	<br>Total a debitar c/ iva: <TOTAL>
																	

															</div>
															
															<div align="left">
																<p style="font-size:15px;font-family: 'Helvetica Neue',Arial,sans-serif;color:#525252;line-height: 1.5;">
																	<b>Verifique la suscripción en Contabilium para evitar errores.</b><br>
																	En caso de que desee cancelar una suscripción o su totalidad, la puede desactivar desde el módulo de suscripciones.						
																</p>
															</div>
														</td>
													</tr>
													
												</tbody>
											</table>
										</td>
									</tr>
								</tbody>
							</table>

						</td>
					</tr>
					<tr>
						<td valign="top" height="20"></td>
					</tr>
				</tbody>
			</table>
		</td>
	</tr>
</table>