.color {
    color:#1067AE ;
}
.faHomeCustom {
    border: 0 !important;
    font-size: 18px !important;
    margin-right: 0px !important;
    padding: 0 !important;
    color:#1067AE;
}
.cd-logo {
  margin-top: 10px;
  left: 15px;
  width: 165px;
  position: relative;
  z-index: 4;
}

.cd-nav-header,
.cd-menu {
  display: inline-block;
}

.cd-main-header ul {
  padding: 0;
  margin: 0;
}

.cd-primary-nav,
.cd-primary-nav ul {
  padding: 0;
}

.cd-main-header ul li {
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
}

.cd-primary-nav a,
.cd-primary-nav ul a {
  height: auto;
  line-height: initial;
}

.cd-main-header {
  border-top: solid thin #e7e7e7;
  border-bottom: solid thin #e7e7e7;
}

.cd-main-header .nav-content {
  width: 100%;
  margin: auto;
  position: relative;
  display: table;
}

.cd-primary-nav .dropdown-settings > a .link-text {
  display: none;
}

.cd-nav-trigger span,
.cd-nav-trigger span::before,
.cd-nav-trigger span::after,
.cd-nav-trigger.nav-is-visible span::before,
.cd-nav-trigger.nav-is-visible span::after {
  background-color: #777;
}

.cd-search-trigger,
.cd-nav-trigger {
  top: 3px;
}

.cd-primary-nav > .dropdown-default,
.cd-primary-nav > .dropdown-default li {
  position: relative;
}

.cd-primary-nav > .dropdown-default > ul .subinfo {
  font-size: 12px;
  text-transform: none;
  /*display: block;*/
  margin: 0 0 3px;
  padding: 0;
  line-height: initial;
  color: #777;
  white-space: normal;
  font-weight: 400;
}

.stickyheader .mainpanel {
  padding-top: 88px;
}

.cd-search-trigger-desktop {
  display: none !important;
}

.cd-primary-nav > .dropdown-settings > a strong {
  font-weight: 600;
}

@media only screen and (min-width: 1170px) {
  .cd-main-header .top-nav {
    width: 100%;
    float: left;
    position: relative;
    z-index: 6;
    border-bottom: solid thin #e7e7e7;
    padding: 0 10px;
  }

  .cd-main-header .top-nav .cd-primary-nav {
    display: inline-block;
    float: right;
    width: auto;
  }

  .top-nav .cd-primary-nav > .dropdown-settings {
    margin-left: 30px;
    border: none;
  }

  .top-nav .cd-primary-nav > .dropdown-settings > a {
    min-height: initial !important;
    line-height: 1;
    text-transform: none;
    border: none;
    padding: 10px 0 !important;
  }

  .top-nav .cd-primary-nav > .dropdown-settings > a:hover,
  .top-nav .cd-primary-nav > .dropdown-settings.open > a {
    background-color: transparent !important;
    color: #777 !important;
  }

  .top-nav .cd-primary-nav > .dropdown-settings .cd-secondary-nav {
    border-left: solid thin #e7e7e7;
    border-right: solid thin #e7e7e7;
    overflow: initial;
    right: -5px;
  }

  .top-nav .cd-primary-nav > .dropdown-settings .cd-secondary-nav:before {
    background-color: #a0ce4e;
    width: 8px;
    height: 8px;
    display: block;
    content: "";
    right: 17px;
    position: absolute;
    top: -6px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
  }

  .cd-header-buttons {
    display: none;
  }

  .cd-menu {
    float: left;
    width: 100%;
  }

  .cd-nav {
    display: inline-block;
    float: left;
    width: 100%;
    position: relative;
  }

  .cd-nav-header {
    position: absolute;
    left: 0;
    top: 0;
  }

  .cd-primary-nav {
    width: auto;
    display: inline-block;
  }

  .cd-nav #cd-primary-nav {
    padding-left: 210px;
    float: left;
  }

  .cd-nav #cd-secondary-nav {
    float: right;
  }

  .cd-search {
    height: 70px;
  }

  .cd-search.is-visible,
  .cd-overlay.search-is-visible {
    display: none;
  }

  .cd-search input {
    font-size: 18px;
  }

  .cd-primary-nav .cd-secondary-nav,
  .cd-primary-nav .cd-nav-gallery,
  .cd-primary-nav .cd-nav-icons {
    padding: 10px;
    width: auto;
    min-width: 300px;
    left: 0;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, .15);
    -moz-box-shadow: 3px 3px 0 rgba(12, 12, 12, 0.03);
    -webkit-box-shadow: 3px 3px 0 rgba(12, 12, 12, 0.03);
    box-shadow: 3px 3px 0 rgba(12, 12, 12, 0.03);
  }

  .cd-primary-nav .col-x-4 .cd-secondary-nav,
  .cd-primary-nav .col-x-4 .cd-nav-gallery,
  .cd-primary-nav .col-x-4 .cd-nav-icons {
    width: 900px;
    left: initial;
    right: -400px;
  }
    
  .cd-primary-nav .col-x-4 .cd-secondary-nav {
    padding: 10px;
  }

  .cd-primary-nav .cd-secondary-nav > li {
    width: 100%;
    height: auto;
    border: none;
  }

  .cd-primary-nav .cd-secondary-nav > li:nth-child(4n+2) {
    margin-right: 2%;
  }

  .cd-primary-nav .col-x-4 .cd-secondary-nav > li {
    width: 23%;
    margin-right: 2%;
  }

  .cd-primary-nav .col-x-4 .cd-secondary-nav .title {
    background: transparent !important;
    padding: 0 10px !important;
    color: #777 !important;
    pointer-events: none;
  }

  .cd-primary-nav .col-x-4 .cd-secondary-nav .title h5 {
    /*font-weight: 600;*/
    color: #1067AE !important;
    margin: 10px 0 15px;
    font-size: 14px;
  }

  .cd-primary-nav .col-x-4 .cd-secondary-nav a {
    font-size: 13px;
    padding: 3px 10px;
    border-radius: 2px;
    line-height: 24px;
  }
  
  /* Dropdown Level 1 */
    
  .cd-primary-nav .cd-secondary-nav.dd-first-lvl {
    overflow: hidden;
  }

  .cd-primary-nav .cd-secondary-nav.dd-first-lvl ul {
    position: relative;
    width: 100%;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    padding-left: 0px;
  }

  .cd-primary-nav .cd-secondary-nav.dd-first-lvl ul.is-hidden {
    position: absolute;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
    padding-left: 10px;
  }

  .cd-primary-nav .cd-secondary-nav.dd-first-lvl ul .go-back {
    display: block;
  }

  .cd-primary-nav .cd-secondary-nav.dd-first-lvl > li > a {
    position: relative;
  }

  .cd-primary-nav .cd-secondary-nav.dd-first-lvl.moves-out > li > a {
    position: absolute;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  .cd-primary-nav .cd-secondary-nav.dd-first-lvl > li {
    position: initial;
    height: initial;
    width: initial;
    float: none;
    margin-right: 0;
    border-right: none;
    overflow: initial;
    overflow-x: initial;
    overflow-y: initial;
    -webkit-overflow-scrolling: touch;
  }
  
  /*Links style*/
    
  .cd-primary-nav .cd-secondary-nav > li > a {
    color: #666;
    font-weight: normal;
    font-size: 13px;
    padding: 3px 10px;
    border-radius: 2px;
    line-height: 20px;
    height: auto;
    margin: 0;
  }

  .cd-primary-nav > .has-children > a {
    padding: 15px !important;
    line-height: 20px;
  }

  .cd-primary-nav > .has-children > a i {
    margin-right: 5px;
  }

  .cd-primary-nav .cd-secondary-nav a:hover {
    background-color: #1067AE;
    color: #FFF;
    text-decoration: none;
  }

  .cd-primary-nav > li > a {
    font-size: 12px;
    text-transform: uppercase;
    color: #777;
    text-decoration: none !important;
    border-bottom: 3px solid transparent;
  }

  .cd-primary-nav > li > a:hover,
  .cd-primary-nav > li > a.selected,
  .cd-primary-nav > li.open > a {
    border-bottom-color: #1067AE;
    color: #1067AE;
    background-color: transparent;
    padding-bottom: 12px;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .cd-primary-nav > .has-children > a::before,
    .cd-primary-nav > .has-children > a::after {
    display: none;
  }
    
  .cd-primary-nav .button-config {
    border-right: solid thin #e7e7e7;
  }

  .cd-primary-nav > .dropdown-settings > a {
    border-left: solid thin #e7e7e7;
    border-bottom: none;
    margin-top: 0;
    padding: 0 !important;
    min-width: 50px;
    min-height: 53px;
    text-align: center;
    line-height: 53px;
  }

  .cd-primary-nav > .dropdown-settings > a:hover,
  .cd-primary-nav > .dropdown-settings > a.selected {
    background-color: #f9f9f9 !important;
    border-bottom-color: transparent !important;
    color: #777 !important;
  }

  .cd-primary-nav > .dropdown-settings > a i {
    margin: 0;
    font-size: 16px;
  }

  .cd-primary-nav > .dropdown-settings > ul {
    left: initial;
    right: 0;
    background-color: #a0ce4e;
    min-width: 200px;
    border: none;
    border-radius: 0;
    z-index: 2;
  }

  .cd-primary-nav > .dropdown-settings > a.selected {
    position: relative;
  }

  .cd-primary-nav > .dropdown-settings > a:before {
    transition: 0.4s ease;
    -moz-transition: 0.4s ease;
    -webkit-transition: 0.4s ease;
    -o-transition: 0.4s ease;
  }

  .cd-primary-nav > .dropdown-settings > a.selected:before {
    background-color: #a0ce4e;
    width: 8px;
    height: 8px;
    display: block;
    content: "";
    right: 17px;
    position: absolute;
    bottom: 0px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
    margin-top: 20px;
  }

  .cd-primary-nav > .dropdown-settings > ul > li > a,
  .cd-primary-nav > .dropdown-settings .has-children a {
    color: #fff;
    text-decoration: none !important;
    font-size: 12px;
    padding: 3px 10px;
    line-height: 24px;
    border-radius: 2px;
  }

  .cd-primary-nav > .dropdown-settings .cd-secondary-nav {
    transition: 0.4s ease;
    -moz-transition: 0.4s ease;
    -webkit-transition: 0.4s ease;
    -o-transition: 0.4s ease;
  }

  .cd-primary-nav > .dropdown-settings .go-back a::before,
  .cd-primary-nav > .dropdown-settings .go-back a::after {
    display: none;
  }

  .cd-primary-nav > .dropdown-default > ul {
    background-color: #fff;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, .15);
    border-top: none;
    border-bottom: none;
    max-width: 380px;
    min-width: 300px;
  }

  .cd-primary-nav > .dropdown-default > ul > li {
    padding: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, .15);
  }

  .cd-primary-nav > .dropdown-default > ul li a {
    color: #777 !important;
    font-weight: 600;
  }

  .cd-primary-nav > .dropdown-default > ul li a:hover,
  .cd-primary-nav > .dropdown-default > ul li a:hover span {
    color: #fff !important;
  }

  .cd-primary-nav > .dropdown-default > ul > .title {
    background-color: #a0ce4e;
    padding: 7.5px 15px;
    border-top: solid thin #a0ce4e;
    position: relative;
    z-index: 10;
  }

  .cd-primary-nav > .dropdown-default > ul .no-msg {
    padding: 10px;
    display: block;
  }

  .cd-primary-nav > .dropdown-default > ul .no-msg strong {
    font-size: 12px;
    color: #777;
    font-weight: 600;
  }

  .cd-primary-nav > .dropdown-default > ul > .title h5 {
    margin: 0;
    text-transform: uppercase;
    font-size: 11px;
    color: #fff;
    font-weight: 600;
  }

  .cd-primary-nav > .dropdown-default .notify {
    position: absolute;
    top: 3px;
    right: 3px;
    line-height: 1;
    z-index: 3;
    text-align: center;
    display: inline-block;
    background: #a0ce4e !important;
    color: #fff !important;
    font-size: 10px;
    height: 13px;
    line-height: 13px;
    border-radius: 5px;
    font-weight: 400;
    padding: 0 4px;
  }
   
   /* Search input */
    
  .cd-menu .search-input {
    max-width: 280px;
    display: inline-block;
    float: right;
    padding: 6px;
  }
  
  /* Search input */
    
  .cd-menu .search-input.mobile {
    display: none;
  }

  .mobile-only {
    display: none;
  }
}

@media only screen and (max-width: 1530px) {
    
  .cd-primary-nav .button-config {
    border-right: none;
  }

  .cd-primary-nav li.search-desktop {
    display: none;
  }

  .cd-search-trigger-desktop {
    display: inline-block !important;
  }

  .cd-search.is-visible,
  .cd-overlay.search-is-visible {
    display: block;
  }
}

@media only screen and (max-width: 1285px) {
  .cd-menu {
    width: 100%;
    border-top: solid thin #e7e7e7;
  }

  .stickyheader .mainpanel {
    padding-top: 105px;
  }

  .cd-nav-header {
    position: initial;
  }

  .cd-main-header .top-nav {
    position: absolute;
    top: 8px;
    border: none;
  }

  .cd-nav #cd-primary-nav {
    padding: 0;
  }

  .cd-primary-nav .col-x-4 .cd-secondary-nav,
  .cd-primary-nav .col-x-4 .cd-nav-gallery,
  .cd-primary-nav .col-x-4 .cd-nav-icons {
    right: -300px;
  }
}

@media only screen and (max-width: 1169px) {
  .cd-main-header .top-nav {
    display: none;
  }

  .cd-nav-header {
    display: block;
    width: 100%;
  }

  .cd-nav #cd-secondary-nav {
    display: none;
  }

  .cd-search-trigger-desktop {
    display: none !important;
  }

  .cd-menu .search-input {
    display: none;
  }

  .cd-menu {
    display: none;
  }

  .cd-primary-nav,
  .cd-primary-nav ul {
    background-color: #1067AE;
  }

  .cd-primary-nav a,
  .cd-primary-nav ul a {
    height: auto;
    line-height: 20px;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #fff;
    white-space: normal;
    width: 100%;
    float: left;
  }

  .cd-primary-nav a,
  .cd-primary-nav ul a,
  .cd-primary-nav > .dropdown-default > ul .no-msg {
    font-size: 12px;
  }

  .cd-primary-nav > li > a {
    font-size: 11px;
    text-transform: uppercase;
  }

  .cd-primary-nav a h5,
  .cd-primary-nav ul a h5 {
    margin: 0;
    padding: 0;
    font-size: 12px;
  }

  .cd-primary-nav a .caret,
  .cd-primary-nav ul a .caret {
    display: none;
  }

  .cd-primary-nav .col-x-4 .cd-secondary-nav,
  .cd-primary-nav .col-x-4 .cd-nav-gallery,
  .cd-primary-nav .col-x-4 .cd-nav-icons {
    right: 0;
  }

  .cd-primary-nav a i,
    .cd-primary-nav ul a i {
    margin-right: 5px;
  }

  .cd-primary-nav .dropdown-settings > a .link-text {
    display: inline-block;
  }

  .cd-primary-nav .dropdown-settings > a {
    background-color: #1067AE;
    border-bottom-color: #fff;
  }

  .cd-primary-nav .go-back a {
    background: #1067AE;
  }

  .has-children > a::before,
  .has-children > a::after,
  .go-back a::before,
  .go-back a::after {
    /*background: #33736c;*/
    background: #fff;
    width: 8px;
  }

  .has-children > a::before,
  .has-children > a::after {
    right: 20px;
    -webkit-transform-origin: 7px 50%;
    -moz-transform-origin: 7px 50%;
    -ms-transform-origin: 7px 50%;
    -o-transform-origin: 7px 50%;
    transform-origin: 7px 50%;
  }

  .cd-primary-nav .dropdown-settings .fa-caret-right,
  .cd-primary-nav .dropdown-settings .fa-caret-left {
    display: none !important;
  }

  .cd-primary-nav li {
    float: left;
    width: 100%;
  }
    
  /* Search input */
    
  .search-input.mobile {
    float: left;
    padding: 8px;
    display: block;
  }

  .search-input.mobile input {
    border: none;
    height: 35px;
    line-height: 35px;
    box-shadow: none !important;
    outline: none !important;
    border-radius: 3px 0 0 3px !important;
  }

  .search-input.mobile button {
    background-color: #fff !important;
    border: none;
    height: 35px;
    line-height: 35px;
    padding-top: 0;
    padding-bottom: 0;
    box-shadow: none !important;
    outline: none !important;
  }

  .stickyheader .mainpanel {
    padding-top: 50px;
  }

  .cd-primary-nav > .dropdown-default .notify {
    position: absolute;
    top: 13px;
    right: 40px;
    background: #a0ce4e !important;
    font-size: 10px;
    height: 16px;
    line-height: 14px;
    border-radius: 3px;
    font-weight: 600;
    padding: 0 4px;
    font-weight: normal;
    border: solid thin rgba(255, 255, 255, .5);
  }

  .cd-primary-nav > .dropdown-default > ul > .title {
    display: none;
  }

  .cd-primary-nav > .dropdown-default > ul .subinfo {
    color: #c8e6e3;
    margin-top: 3px;
  }

  .cd-primary-nav > .dropdown-default > ul li a {
    font-weight: 500;
  }

  .cd-primary-nav > .dropdown-default > ul .no-msg {
    border-bottom: 1px solid #fff;
    padding: 10px 20px;
    color: #fff;
  }

  .search-desktop-icon {
    display: none;
  }

  .mobile-only {
    display: block;
  }
}

@media (max-width: 480px) {
  .stickyheader .mainpanel {
    padding-top: 70px;
  }
}

body.overflow-hidden {
  overflow: hidden;
}

.cd-search-trigger::before {
  border-color: #777;
}

.cd-search input {
  padding: 0 30px;
  border-color: #ddd !important;
  border-top: solid thin;
}

.cd-search-trigger span::before,
.cd-search-trigger span::after,
.cd-search-trigger::after {
  background-color: #777;
}

.cd-search-trigger::before {
  top: 12px;
  left: 5px;
  width: 16px;
  height: 16px;
}

.cd-nav-header {
  height: 50px;
}

.cd-header-buttons {
  position: absolute;
  top: 0;
  right: 5px;
}

.cd-search-trigger,
.cd-nav-trigger {
  width: 36px;
}

.cd-overlay {
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.8);
}

/* Sección Referidos */

@font-face {
  font-family: 'MarkMyWords';
    src: url('../fonts/markmywords/MarkMyWords.eot');
    src: url('../fonts/markmywords/MarkMyWords.eot?#iefix') format('embedded-opentype'), url('../fonts/markmywords/MarkMyWords.woff') format('woff'), url('../fonts/markmywords/MarkMyWords.ttf') format('truetype'), url('../fonts/markmywords/MarkMyWords.svg') format('svg');
}

@font-face {
  font-family: 'ProximaNova';
    src: url('../fonts/proximanova/ProximaNova-Regular.eot');
    src: url('../fonts/proximanova/ProximaNova-Regular.eot') format('embedded-opentype'), url('../fonts/proximanova/ProximaNova-Regular.woff') format('woff'), url('../fonts/proximanova/ProximaNova-Regular.ttf') format('truetype'), url('../fonts/proximanova/ProximaNova-Regular.svg') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
    src: url('../fonts/proximanova/ProximaNova-Light.eot');
    src: url('../fonts/proximanova/ProximaNova-Light.eot') format('embedded-opentype'), url('../fonts/proximanova/ProximaNova-Light.woff') format('woff'), url('../fonts/proximanova/ProximaNova-Light.ttf') format('truetype'), url('../fonts/proximanova/ProximaNova-Light.svg') format('svg');
    font-weight: 300;
    font-style: lighter;
}

#referidos h1,
#referidos h2,
#referidos h3,
#referidos h4,
#referidos h5 {
  font-family: 'ProximaNova', 'Roboto', sans-serif;
  font-weight: 300;
}

#referidos .pageheader {
  background-color: #1067AE;
  border: none;
}

#referidos .pageheader h2 {
  color: #fff;
  letter-spacing: .6px;
  font-size: 32px;
  line-height: 1;
}

@media (max-width: 991px) {
  #referidos .pageheader h2 {
    font-size: 28px;
  }
}

#referidos .topheader {
  background: url(../images/polygonal-bg.png) center;
  background-size: cover;
  text-align: center;
}

#referidos .topheader .main-graph {
  width: 100%;
  max-width: 1000px;
  margin: 40px 0;
}

@media (max-width: 991px) {
  #referidos .topheader .main-graph {
    margin: 20px 0;
  }
}

#referidos .topheader .main-graph.hidden-lg {
  max-width: 320px;
}

#referidos .feature {
  text-align: center;
  margin: 60px 0;
}

@media (max-width: 991px) {
  #referidos .feature {
    margin: 30px 0;
  }
}

#referidos .feature h3 {
  font-family: 'MarkMyWords', 'ProximaNova', 'Roboto', sans-serif;
  color: #d01c5d;
  font-size: 24px;
  margin: 15px 0 10px;
text-transform: uppercase;
}

#referidos .feature .icon {
  max-width: 60px;
  margin: auto;
}

#referidos .feature .icon img {
  width: 100%;
}

#referidos #frmEdicion {
  background-color: #f1f1f1;
  margin: 20px 0 0;
}

#referidos #frmEdicion h3 {
  margin: 0 0 30px;
}

#referidos #frmEdicion .box-container {
  background-color: #fff;
  padding: 30px;
  margin: 20px 0;
}

@media (max-width: 991px) {
  #referidos #frmEdicion {
    padding: 15px 0;
  }

  #referidos #frmEdicion .box-container {
    margin: 15px 0;
  }
}

#referidos #frmEdicion .small-msg {
  margin: 5px 0;
  display: inline-block;
}

#referidos .social-share {
  display: table;
  text-align: center;
  margin: 30px auto 10px;
}

#referidos .social-share a {
  max-width: 50px;
  display: inline-block;
  margin: 0 4px;
}

#referidos .social-share a img {
  width: 100%;
}

#referidos .wow {
  visibility: hidden;
}

/* Abonos */

#resultsContainer .panel-container {
  padding: 0 10px;
  margin-bottom: 30px;
}

.panel-area .panel-container {
  margin-bottom: 30px;
}

#resultsContainer .panel-content,
.panel-area .panel-content {
  border: solid 1px #e3e5e9;
  border-top: none;
}

#resultsContainer .panel-header ,
.panel-area .panel-header {
  font-size: 18px;
  color: #fff;
}

.panel-area .panel-header i {
  margin-right: 3px;
  font-size: 16px;
}

#resultsContainer .panel-header a,
.panel-area .panel-header span {
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  display: block;
  padding: 15px;
}

.panel-color-1 {
  background-color: #1067AE;
}

.panel-color-2 {
  background-color: #a0ce4e;
}

.panel-color-3 {
  background-color: #2c3e50;
}

.panel-area .panel-content {
  padding: 15px;
}

.panel-area .panel-header span {
  text-transform: uppercase;
}

#resultsContainer .panel-container table {
  margin: 0;
}

#resultsContainer .panel-container table thead {
  font-size: 15px;
  background-color: #999;
  color: #fff;
}

#resultsContainer .panel-container table tbody {
  font-size: 14px;
}

#resultsContainer .panel-container table tbody strong {
  font-weight: 600;
}

#resultsContainer .panel-container table tbody label {
  font-size: 13px;
}

#resultsContainer .panel-container table tbody .label-danger {
  background-color: #a0ce4e;
}

#resultsContainer .panel-container .collapsed > i.fa-caret-down:before {
  content: '\f0d8';
}

#resultsContainer .panel-container table .item-header label > strong {
  display: none;
  color: #fff;
}

#resultsContainer .panel-container .table-striped > tbody > tr:nth-child(2n+1) > td,
#resultsContainer .panel-container .table-striped > tbody > tr:nth-child(2n+1) > th,
#tableTotalContainer .table-striped > tbody > tr:nth-child(2n+1) > td,
#tableTotalContainer .table-striped > tbody > tr:nth-child(2n+1) > th {
  background-color: #f2f4f8;
}

#resultsContainer table .responsive {
  display: none;
}

#tableTotalContainer .panel-content {
  padding: 0;
}

#tableTotalContainer .panel-content table {
  float: none;
  margin: 0;
}

/* Checkbox */

/* Base for label styling */
#resultsContainer [type="checkbox"]:not(:checked),
#resultsContainer [type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}

#resultsContainer [type="checkbox"]:not(:checked) + label,
#resultsContainer [type="checkbox"]:checked + label {
  bottom: 10px;
    position: relative;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* checkbox aspect */
#resultsContainer [type="checkbox"]:not(:checked) + label:before,
#resultsContainer [type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 16px;
  height: 16px;
  border: 2px solid #ccc;
  background: #fff;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}

/* checked mark aspect */
#resultsContainer [type="checkbox"]:not(:checked) + label:after,
#resultsContainer [type="checkbox"]:checked + label:after {
  content: '\f00c';
  position: absolute;
  top: 4px;
  left: 2px;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 12px;
  line-height: 0.8;
  color: #3c3c3c;
  transition: all .2s;
}

/* checked mark aspect changes */
#resultsContainer [type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}

#resultsContainer [type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}

/* disabled checkbox */
#resultsContainer [type="checkbox"]:disabled:not(:checked) + label:before,
#resultsContainer [type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}

#resultsContainer [type="checkbox"]:disabled:checked + label:after {
  color: #999;
}

#resultsContainer [type="checkbox"]:disabled + label {
  color: #aaa;
}

/* checkbox aspect */
#resultsContainer table thead [type="checkbox"]:not(:checked) + label:before,
#resultsContainer table thead [type="checkbox"]:checked + label:before {
  border: 2px solid #fff;
  background: transparent;
  top: 2px;
}

/* checked mark aspect */
#resultsContainer table thead [type="checkbox"]:not(:checked) + label:after,
#resultsContainer table thead [type="checkbox"]:checked + label:after {
  color: #fff;
  top: 6px;
}

/* -- */

@media only screen and (min-width: 768px) {
  #btnBuscar.btn-search {
    margin: 29px 0;
  }
}

@media only screen and (max-width: 1169px) {

  #resultsContainer .table thead {
    display: none;
  }

  #resultsContainer .table thead > tr > th,
  #resultsContainer .table tbody > tr > th,
  #resultsContainer .table tfoot > tr > th,
  #resultsContainer .table thead > tr > td,
  #resultsContainer .table tbody > tr > td,
  #resultsContainer .table tfoot > tr > td {
    display: block;
    padding: 6px 10px;
  }

  #resultsContainer .table .label {
    display: inline-block;
    margin: 3px 0 !important;
  }

  #resultsContainer .panel-container table .item-header {
    background-color: #999 !important;
    border: none;
    padding: 0;
  }

  #resultsContainer .panel-container table .item-header label > strong {
    display: inline-block;
    margin-top: -2px;
    font-size: 14px;
  }

  #resultsContainer table .responsive {
    display: inline-block;
  }

  #resultsContainer [type="checkbox"]:not(:checked) + label:before,
  #resultsContainer [type="checkbox"]:checked + label:before {
    left: 10px;
    top: 11px;
    border: none;
    width: 14px;
    height: 14px;
    border-radius: 3px;
  }

  #resultsContainer [type="checkbox"]:not(:checked) + label:after,
  #resultsContainer [type="checkbox"]:checked + label:after {
    top: 14px;
    left: 12px;
    font-size: 10px;
    color: #a0ce4e;
  }

  #resultsContainer [type="checkbox"]:not(:checked) + label,
  #resultsContainer [type="checkbox"]:checked + label {
    padding: 10px;
    padding-left: 32px;
    display: block;
    margin-bottom: 0 !important;
  }

  #resultsContainer [type="checkbox"]:checked + label {
    background-color: #a0ce4e !important;
  }

  #tableTotalContainer .table-total > tbody > tr > td {
    font-size: 16px;
  }

}

/* Modal */

#modalGeneracionAbonos .modal-dialog {
  width: 100%;
  max-width: 500px;
}

#modalGeneracionAbonos .icon {
  margin: auto;
  display: table;
  width: 65px;
  margin-bottom: 15px;
}

#modalGeneracionAbonos .icon img {
  width: 100%;
}

#modalGeneracionAbonos .title {
  font-family: 'Arial', 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 21px;
  margin-bottom: 20px;
}

#modalGeneracionAbonos .label {
  font-size: 14px;
  display: block;
  text-align: left;
  padding: 6px 8px;
}

#modalGeneracionAbonos strong {
  font-weight: 600;
}

#modalGeneracionAbonos .label-success {
  background-color: #50baaf;
}

#modalGeneracionAbonos .label-danger {
  background-color: #a0ce4e;
}

#modalGeneracionAbonos .modal-body {
  padding: 30px 40px;
}

#modalGeneracionAbonos .btn {
  display: table;
  margin: auto;
  margin-top: 20px;
}

@media (max-width: 767px) {
  #modalGeneracionAbonos {
    padding: 15px;
  }
  #modalGeneracionAbonos .modal-dialog {
    margin: 0 auto;
  }
  #modalGeneracionAbonos .modal-body {
    padding: 20px;
  }
}

/* Mensaje "Completar Perfil" */

#divMsjeCompletarPerfil {
  padding: 0px;
  border: none;
  /*font-family: 'Open Sans', sans-serif;*/
  position: relative;
  min-height: 160px;
  font-size: 15px;
}

#divMsjeCompletarPerfil .head {
  padding: 15px 20px 15px 170px;
  border-bottom: solid 2px #e4e7ea;
}

#divMsjeCompletarPerfil .head > h4 {
  font-family: 'ProximaNova', 'Open Sans', sans-serif;
  font-weight: 600;
  margin: 0;
}

#divMsjeCompletarPerfil .content {
  padding: 15px 20px 15px 170px;
}

#divMsjeCompletarPerfil .content ul {
  margin: 0;
  padding: 0;
}

#divMsjeCompletarPerfil .content ul > li {
  list-style: none;
  margin: 0;
  position: relative;
  padding: 2px 0;
}

#divMsjeCompletarPerfil .content ul > li.checked > a {
  color: #1067AE;
}

#divMsjeCompletarPerfil .content ul > li.no-checked > a {
  color: #bf3160;
}

#divMsjeCompletarPerfil .content ul > li.checked:before {
  content: '\f00c';
  font: normal normal normal 14px/1 FontAwesome;
  margin-right: 5px;
  color: #1067AE;
}

#divMsjeCompletarPerfil .content ul > li.no-checked:before {
  content: '\f00d';
  font: normal normal normal 14px/1 FontAwesome;
  margin-right: 7px;
  margin-left: 1px;
  color: #bf3160;
}

#divMsjeCompletarPerfil .progress-circle div {
  position: absolute;
  height: 130px;
  width: 130px;
  border-radius: 50%;
  top: 15px;
  left: 20px;
  border: solid 4px #fff;
}
 
#divMsjeCompletarPerfil .progress-circle div span {
  position: absolute;
  font-family: 'ProximaNova', 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 38px;
  line-height: 102px;
  height: 102px;
  width: 102px;
  left: 10px;
  top: 10px;
  text-align: center;
  border-radius: 50%;
  background-color: white;
}
 
#divMsjeCompletarPerfil .progress-circle .background { background-color: #b3cef6; }
 
#divMsjeCompletarPerfil .progress-circle .rotate {
  clip: rect(0 65px 130px 0);
  background-color: pink;
}
 
#divMsjeCompletarPerfil .progress-circle .left {
  clip: rect(0 65px 130px 0);
  opacity: 1;
  background-color: hotpink;
}
 
#divMsjeCompletarPerfil .progress-circle .right {
  clip: rect(0 65px 130px 0);
  transform: rotate(180deg);
  opacity: 0;
  background-color: #4b86db;
}
 
@keyframes
toggle {  0% {
 opacity: 0;
}
 100% {
 opacity: 1;
}
}

.wow {
  opacity: 0;
}

@media (max-width: 767px) {
  #divMsjeCompletarPerfil .head {
    padding: 164px 20px 15px 20px;
    text-align: center;
  }

  #divMsjeCompletarPerfil .progress-circle div {
    left: 50%;
    margin-left: -65px;
  }

  #divMsjeCompletarPerfil .content {
    padding: 15px 20px 15px 20px;
  }

  #divMsjeCompletarPerfil .content ul {
    display: table;
    margin: auto;
  }


}

/**NUEVOS ESTILOS TAB*/
.tab-header {
	background-color: transparent;
	border-bottom: solid 2px #ddd;
}
.tab-header > li > a {
	color: #119380;
	background: transparent !important;
	margin-right: 0;
	border: none;
	padding: 20px;
}

@media (max-width: 991px) {
	.tab-header > li {
		display: block;
		width: 100%;
	}

	.tab-header > li > a {
		padding: 10px 20px 10px 0;
	}
}

.tab-header > li.active > a {
	border-bottom: solid 2px #119380 !important;
}

@media (min-width: 992px) {
	.buttonform {
		margin-top: 28px;
	}
}

@media (max-width: 767px) {
	.buttons-container {
		margin-top: 15px;
	}
}

/*pantalla de pago*/
.panelTipoPago .panel-item {
	-webkit-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
	-moz-box-shadow:    0px 1px 10px 0px rgba(0, 0, 0, 0.1);
	box-shadow:         0px 1px 10px 0px rgba(0, 0, 0, 0.1);
	width: 100%;
	float: left;
	padding: 15px 10px;
	margin-bottom: 15px;
	min-height: 215px;
    background-color:#fff;
}

.panelTipoPago .fm-title {
	padding-left: 20px;
	position: relative;
}

.panelTipoPago .fm-title input[type=radio],
.panelTipoPago .fm-title input[type=checkbox] {
	position: absolute;
    left: 0;
    top: 2px;
}

.panelTipoPago.activo {
	background-color: inherit;
}

.panelTipoPago.activo .panel-item {
	-webkit-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow:    0px 1px 10px 0px rgba(0, 0, 0, 0.2);
	box-shadow:         0px 1px 10px 0px rgba(0, 0, 0, 0.2);
    
}

.panelTipoPago .panelTarjetas {
	/*padding: 15px 20px;*/
    text-align: center;
}

.panelTipoPago .panelTarjetas > img {
	width: 100%;
	max-width: 250px;
}

.panelTipoPago .descripcionPago {
	margin-left: 20px;
	display: block;
}

.panelTipoPago #divDatosTransferencia {
	margin: 0 !important;
	padding: 0 30px;
	float: left;
}

.panelTipoPago #divDatosTransferencia > h4 {
	border-top: solid thin #ddd;
	padding-top: 10px;
	font-size: 16px;
}

.panelTipoPago#divPanelDebito .panel-item {
	min-height: 160px;
	border-left: solid 5px #95d0c3;
	background: url(../images/pagos/fondoDebito.png) repeat-x left center #1067AE;
	background-size: cover;
	color: #fff;
}

.panelTipoPago#divPanelDebito .panel-item .fm-title {
	font-weight: 600;
}

.panelTipoPago#divPanelDebito .panel-item .label-warning {
	color: #464646;
	font-weight: 600;
    letter-spacing: 1px;
    font-size: 12px;
    text-transform: uppercase;
}

.nuevaIntegracion .integracionLogo {
    max-width: 200px;
}

.nuevaIntegracion .intcontainer {
    position: relative;
    min-height: 100px;
}

.nuevaIntegracion .intcontainer p, .nuevaIntegracion .intcontainer a {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
