﻿@model ACHE.WebClientes.Models.PedidoViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="pageheader">
    <h2><i class="fa fa-file-text"></i>CheckOut</h2>
    @*<div class="breadcrumb-wrapper">
        <span class="label">Estás aquí:</span>
        <ol class="breadcrumb">
            <li>Contabilium</li>
            <li class="active">CheckOut</li>
        </ol>
    </div>*@
</div>

<div class="contentpanel">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="panel panel-default">
                    <div class="panel-body"  >
                      <div class="table-responsive">
                             <table class="table mb30">
                                <thead>
                                      <tr>
                                        <th>Concepto</th> 
                                        <th>Precio</th> 
                                        <th>Cantidad</th> 
                                        <th>Total bruto</th> 
                                        <th>Total neto</th> 
                                        <th></th>
                                    </tr>
                             
                                </thead>
                                <tbody id="resultsContainer">
                                       @if (Model.Conceptos != null && Model.Conceptos.Count() > 0)
                                       {
                                           foreach (var item in Model.Conceptos)
                                            {
                                                 <tr  id="tr_@Model.Conceptos.IndexOf(item)">
                                                    <td>@item.Concepto</td>
                                                    <td><span id="spnPrecio_@Model.Conceptos.IndexOf(item)">@item.PrecioUnitario.ToString("N2") </span></td>
                                                    <td> 
                                                        <input onchange="pedido.update(@item.IDConcepto, @Model.Conceptos.IndexOf(item),'@item.Iva')"  
                                                            onblur="if(this.value=='') {this.value='1';} else {$('#lnk_@Model.Conceptos.IndexOf(item)').trigger('click');}" onfocus="if(this.value =='1' ) this.value=''" 
                                                            type="text" id="txtCantidad_@Model.Conceptos.IndexOf(item)" value="@item.Cantidad" style="max-width:80px"  class="form-control numeric input-sm" maxlength="3">
                                                    </td>
                                                    <td> <span id="spnSubtotal_@Model.Conceptos.IndexOf(item)">@item.TotalSinIva.ToString("N2")</span></td>
                                                    <td><span id="spnSubtotalNeto_@Model.Conceptos.IndexOf(item)">@item.TotalConIva.ToString("N2")</span></td>
                                                    <td class="table-action">
                                                        <a onclick="pedido.remove(@item.IDConcepto,@Model.Conceptos.IndexOf(item));" style="cursor: pointer; font-size: 16px" class="delete-row" title="Eliminar"><i class="fa fa-trash-o"></i></a>
                                                    </td>
                                                </tr>
                                                }
                                            }
                                       <tr id="divSinElementos" style="display:none">
                                          <td>No hay elementos en el carrito</td>
                                       </tr>
                                </tbody>
                            </table>                              
                            <div id="divContinuarCarrito">
                                <div class="col-xs-12 col-sm-12">
                                    <table class="table table-total">
                                        <tbody>
                                            <tr>
                                                <td><strong>Total sin IVA :</strong></td>
                                                <td id="divSubTotal"><span id="spnSubTotal"></span></td>
                                            </tr>
                                            <tr>
                                                <td><strong>TOTAL :</strong></td>
                                                <td id="divTotal" style="color: green"><span id="spnTotal"></span></td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">
                                                    <a href="#" onclick="pedido.confirmar();" class="btn btn-success">Finalizar pedido</a>      
                                                </td>
                                            </tr>                                
                                        </tbody>
            
                                    </table>
                                </div>
                            </div>
                            <a href="@Url.Action("Index", "Pedidos")"  class="btn btn-default">Continuar comprando</a>         
                        </div>
                   </div>            
            </div>
        </div>
    </div>
</div>

@section  Scripts{  
    <script src="/js/jquery.numericInput.min.js"></script>
    <script src="/js/views/pedido.js"></script>
    <script>
        jQuery(document).ready(function () {
            $(".numeric").numericInput();
            pedido.UpdateTotal();
        });
    </script>
}