﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="pageheader">
    <h2><i class="fa fa-file-text"></i> Buscador de productos</h2>
   @* <div class="breadcrumb-wrapper">
        <span class="label">Estás aquí:</span>
        <ol class="breadcrumb">
            <li>Contabilium</li>
            <li class="active">Pedidos</li>
        </ol>
    </div>*@
</div>
<div class="contentpanel">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                        <div class="row">
                            <form runat="server" id="frmSearch">
                                <input type="hidden" id="hdnPage" runat="server" value="1" />
                                <div class="col-sm-12" style="padding-left: inherit">
                                    <div class="col-sm-5 col-md-10">
                                        <div class="col-sm-4 col-md-3" style="margin-top:5px">
                                            <input type="text" class="form-control" id="txtConcepto" maxlength="128" placeholder="Ingrese el nombre o código del producto" />
                                        </div>
                                        <div class="col-sm-2 col-md-2" style="margin-top:5px">
                                            <select id="ddlRubros" class="form-control" onchange="pedido.obtenerSubRubros(this.value,'ddlSubRubros');" data-placeholder="Seleccione un rubro..."></select>
                                        </div>                                            
                                        <div class="col-sm-2 col-md-2" style="margin-top:5px">
                                            <select id="ddlSubRubros" class="form-control" data-placeholder="Seleccione un subRubro..."></select>
                                        </div>
                                        <div class="col-sm-2 col-md-5" style="margin-top:5px">  
                                            <a class="btn btn-success" href="#" onclick="pedido.filtrar();">Buscar</a>&nbsp;
                                            <a class="btn view-panels btn-square active" href="javascript:$('.fotoProd').show();" style="border-radius: 0px;" title="Mostrar fotos"><i class="fa fa-th"></i></a>
                                            <a class="btn view-list btn-square active" href="javascript:$('.fotoProd').hide();" style="border-radius: 0px;" title="Ocultar fotos"><i class="fa fa-list-ul"></i></a>

                                            <a class="btn btn-default" href="@Url.Action("SeleccionarUsuario","Pedidos")">Cambiar de usuario</a>
                                        </div>
                                    </div>
                                    <div class="col-sm-7 col-md-2">
                                        <div class="pull-right" style="margin-top: 10px;">
                                            <a href="@Url.Action("CheckOut","Pedidos")" style="font-size:20px"><i class="fa fa-shopping-cart"></i> <span id="spnTotal">Total: $0</span></a> 
                                        </div>
                                    </div>
                                </div>
                                <input type="hidden" value="@ViewBag.IDUsuario" id="hdnIDUsuario" />
                            </form>
                        </div>

                        <div class="col-sm-12"><hr class="mt0" /></div>
                        <div class="row">
                            <div class="pull-right">
                                <div class="btn-group mr10" id="divPagination" style="display: none">
                                    <a class="btn btn-white" id="lnkPrevPage" style="cursor: pointer" onclick="pedido.mostrarPagAnterior();"><i class="glyphicon glyphicon-chevron-left"></i> Anterior</a>
                                    <a class="btn btn-white" id="lnkNextPage" style="cursor: pointer" onclick="pedido.mostrarPagProxima();">Siguiente <i class="glyphicon glyphicon-chevron-right"></i></a>
                                </div>
                            </div>

                            <h4 class="panel-title" style="clear: left; padding-left: 20px">Resultados</h4>
                            <p id="msjResultados" style="padding-left: 20px"></p>
                        </div>
                    </div>
                    <div class="panel-body"  id="resultsContainer">
                     
                   </div>            
            </div>
        </div>
    </div>
</div>
  <script id="resultTemplate" type="text/x-jQuery-tmpl">
        {{each results}}
        <div class="col-xs-12 col-sm-4 col-md-3">
            <div class="blog-item">
                <img src="${Foto}" class="img-responsive fotoProd" style="display:none" alt=""/>
                <div class="blog-details">
                    <p style="margin-bottom: 0px;">Art. ${Codigo} </p>
                    <h4 class="blog-title" style="height:48px">
                        ${Nombre}
                    </h4>
                    <div class="blog-summary">
                        <p style="font-size: 14px;color:#bf315f">Precio: $${Precio}</p>
                           
                        <input type="number"  id="txtCantidad-${ID}"  class="form-control input-sm" style="width:80px; float:left" />
                        <a class="btn btn-sm btn-white" href="#"  onclick="pedido.agregar(${ID},'${Precio}'); return false;" style="margin-left:5px; margin-top:5px">Agregar</a>
                        <label id="lbl-${ID}" style="color:green;display:none">En carrito</label>
                    </div>
                </div>
            </div>
        </div>
       {{/each}}
      </script>

        <script id="noResultTemplate" type="text/x-jQuery-tmpl">
            No se han encontrado resultados
            
        </script>

@section  Scripts{
    <script type="text/javascript" src="/js/jquery.tmpl.min.js"></script>
    <script src="/js/jquery.validate.min.js"></script>
    <script src="/js/select2.min.js"></script>
    <script src="/js/jquery.numericInput.min.js"></script>
    <script src="/js/views/pedido.js"></script>

    <script>
        jQuery(document).ready(function () {
            pedido.configFilters();
            pedido.getSubTotal();
        });
    </script>
}