﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="pageheader">
    <h2><i class="fa fa-file-text"></i> Fin del pedido</h2>
    @*<div class="breadcrumb-wrapper">
        <span class="label">Estás aquí:</span>
        <ol class="breadcrumb">
            <li>Contabilium</li>
            <li class="active">Fin</li>
        </ol>
    </div>*@
</div>

<div class="contentpanel">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="panel panel-default">
                <div class="panel-body" style="text-align:center">
                    <br />
                    <h4>El pedido N°@ViewBag.Numero ha sido generado correctamente.</h4>
                </div>
            </div>
        </div>
    </div>
</div>




