﻿@model ACHE.Model.ResultadosUsuariosViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="pageheader">
    <h2><i class="fa fa-file-text"></i>Seleccione al usuario al que desea realizarle el pedido</h2>
    <div class="breadcrumb-wrapper">
        <span class="label">Estás aquí:</span>
        <ol class="breadcrumb">
            <li>Contabilium</li>
            <li class="active">Seleccionar usuario</li>
        </ol>
    </div>
</div>
<div class="contentpanel">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                        <form runat="server" id="frmSearch">
                            <input type="hidden" id="hdnPage" runat="server" value="1" />
                            <div class="col-sm-12" style="padding-left: inherit">
                                
                                    <div class="row">
                                        <div class="col-sm-4 col-md-2 form-group">
                                            <select id="ddlUsuario" class="form-control"  data-placeholder="Seleccione un usuario...">
                                                @foreach (var item in Model.Items.Where(x => x.Activo=="SI").ToList())
                                                {
                                                    <option value="@item.ID">@item.RazonSocial</option>
                                                }

                                            </select>
                                            </div>                                            
                                        <div class="col-sm-2 col-md-2 form-group">  <a class="btn btn-success" onclick="pedido.guardarUsuario();">
                                          Continuar
                                        </a></div>
                                    </div>
                                
                            </div>
                        </form> 
                  </div>    
            </div>
        </div>
    </div>
</div>
@section  Scripts{  

     <script src="/js/views/pedido.js"></script>

}